<div class="left_side">
    <h3 class="my_prof" routerLink="/posts/home-posts">My profile</h3>
    <div class="prof_pic">
        <img src="" alt="">
    </div>
    <ul class="profile_list list_first">
        <li>
            <div class="name">
                <div class="user_icons">
                    <img src="../../../assets/avatar/user.png" alt="">
                </div>
                <input type="text" placeholder="Full name" *ngIf="!name" [(ngModel)]="changeInfo.name">
                <p *ngIf="name">{{changeInfo.name}}</p>
                <button class="edit" mat-raised-button (click)="openDialog('name')">
                    <img src="../../../assets/images/edit.png" alt="">
                </button>
            </div>
        </li>
        <li>
            <div class="name">
                  <span class="envelope">
                      <img src="../../../assets/images/envelope.png" alt="">
                  </span>
                <input type="email" placeholder="lorem.ipsum@gmail.com" *ngIf="email" [(ngModel)]="changeInfo.email">
                <p *ngIf="!email">{{changeInfo.email}}</p>
                <button class="edit" mat-raised-button (click)="openDialog('email')">
                    <img src="../../../assets/images/edit.png" alt="">
                </button>
            </div>
        </li>
        <li>
            <div class="name">
                <span class="key">
                    <img src="../../../assets/images/key.png" alt="">
                </span>
                <input type="password" placeholder="Password" *ngIf="pass" [(ngModel)]="changeInfo.password">
                <p *ngIf="!pass">*******</p>

                <button class="edit" mat-raised-button (click)="openDialog('pass')">
                    <img src="../../../assets/images/edit.png" alt="">
                </button>
            </div>
        </li>
    </ul>
    <ul class="nav nav-tabs profile_list post_and_sub" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" routerLink="/add-post"> Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/subscribe">Subscribe</a>
        </li>
    </ul>
</div>
