<!--
<section>
  <div class="carusel-block">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="opacity-dark"></div>
          <img class="d-block w-100" src="./images/img1.jpg" alt="First slide">
          <div class="carousel-caption white">
            <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
              and typesetting industry</h5>
            <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="opacity-dark"></div>
          <img class="d-block w-100" src="./images/img1.jpg" alt="Second slide">
          <div class="carousel-caption white">
            <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
              and typesetting industry</h5>
            <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="opacity-dark"></div>
          <img class="d-block w-100" src="./images/img1.jpg" alt="Third slide">
          <div class="carousel-caption white">
            <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
              and typesetting industry</h5>
            <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
         data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button"
         data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="news-block carusel-block">
    <div class="item">
      <div class="text-block">
        <div class="description">
          <h5 class="title">{{posts.title}}</h5>
          <p class="text">{{posts.metaTitle}}</p>
        </div>

        <div class="filter">
          <span>filters:</span>
          <ul class="menu">
            <li class="orange"><a href="">all</a></li>
            <li class="yellow"><a href="">like</a></li>
            <li class="gray"><a href="">love</a></li>
            <li class="op-orange"><a href="">new</a></li>
            <li class="op-blue"><a href="">x</a></li>
            <li class="blue"><a href="">y</a></li>
          </ul>
        </div>
      </div>

      <div class="img-block">
        <img src="./images/{{posts.imgName}}" class="img-fluid" alt="">
        <ul class="view-icons-block">
          <li>
            <span *ngIf="0">
              <img src="./images/{{posts.imgName}}" alt=""><span>like</span>
            </span>
            <span *ngIf="1">
              <img src="./images/{{posts.imgName}}" alt=""><span>like</span>
            </span>
          </li>

          <li>
            <a href="">
              <img src="./images/{{posts.imgName}}" alt=""><span>views</span>
            </a>
          </li>

          <li>
            <a href="">
              <img src="./images/{{posts.imgName}}" alt=""><span>love</span>
            </a>
          </li>

          <li>
            <a href="">
              <img src="./images/{{posts.imgName}}" alt=""><span>share</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./images/{{posts.imgName}}" alt=""><span>comments</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="text-block">
        <p>{{posts.desc}}</p>
      </div>
    </div>


    <div class="pagination-block">
      <a><img src="./images/arrow-left.png" alt=""></a>
      <ul>
        <li>
          <a href="">1</a>
        </li>
        <li>
          <a href="" class="active">2</a>
        </li>
        <li>
          <a href="">3</a>
        </li>
        <li>
          <a href="">...</a>
        </li>
        <li>
          <a href="">15</a>
        </li>
      </ul>
      <a><img src="./images/arrow-right.png" alt=""></a>
    </div>
  </div>
</section>
-->
