<app-header></app-header>

<div class="content sidebar_content">
    <div class="profile_container">
        <div class="profile_details">
            <div class="profileForm_content">
                <mat-tab-group class="tabs_profile">
                    <mat-tab label="Change Name and Email">
                        <form [formGroup]="profileForm" class="profileForm">
                            <div class="userInfo">
                                <p>Change Name and Email</p>

                                <mat-form-field>
                                    <input matInput formControlName="name">
                                    <mat-placeholder class="placeholder">Name</mat-placeholder>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-placeholder class="placeholder">E-mail</mat-placeholder>
                                    <input matInput formControlName="email">
                                </mat-form-field>

                                <button mat-raised-button (click)="saveProfile()">
                                    Save
                                </button>
                            </div>
                        </form>

                    </mat-tab>
                    <mat-tab label="Change Password">

                        <form [formGroup]="passForm" class="profileForm">
                            <div class="userInfo">
                                <p>Change Password</p>
                                <mat-form-field>
                                    <mat-placeholder class="placeholder">Old Password</mat-placeholder>
                                    <input matInput type="password" formControlName="current_password">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-placeholder class="placeholder">New Password</mat-placeholder>
                                    <input matInput type="password"  formControlName="new_password">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-placeholder class="placeholder">Confirm Password</mat-placeholder>
                                    <input matInput type="password">
                                </mat-form-field>
                                <button mat-raised-button (click)="updatePass()">
                                    Save
                                </button>
                            </div>
                        </form>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
