.sidebar_content {
  margin: 185px auto;
}

.profile_container {
  background-color: white;
  padding: 30px;


  .profileForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .userInfo {
      width: 100%;
      max-width: 400px;
      p{
        //font-style: italic;
      }
    }

    .dropzoneContainer {
      width: 300px;
      height: 300px;

      dropzone {
        height: 300px;
      }
    }
    .left_part{
      width: 50%;
    }
  }
}

.profile_details{
  width:60%;
  margin: 7% auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profileForm_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left_part{
      width: 50%;
    .change{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      p{
        font-style: italic;
        width: 35%;
        margin-bottom: 0 !important;
      }
      p:nth-child(2){
        font-style: normal;
        width: 60%;
      }
      p:last-child {

        width: 5%;
      }
    }
    }
    .right_part{
      width: 40%;
    }
  }
}



.tabs_profile {
  width: 100%;
  justify-content: space-between;
  flex-direction: row !important;
}







