<form [formGroup]="forgotPassForm" class="forgotPassForm" *ngIf="!emailToken">
    <h3>Forgot Password</h3>
    <!--    <mat-form-field>-->
    <input [placeholder]="'Email'" formControlName="email">
    <mat-error *ngIf="(emailControl.touched || formSubmitted) && emailControl.hasError('required')">E-mail is
        required
    </mat-error>
    <!--    </mat-form-field>-->

    <div>
        <button mat-raised-button class="sendForgotPassEmail" (click)="sendEmail()">Send</button>
    </div>
</form>

<form [formGroup]="confirmNewPassForm" class="forgotPassForm" *ngIf="emailToken">
    <div>
        <input type="password" formControlName="newPassword" placeholder="New Password">
        <mat-error *ngIf="passControl.touched && passControl.hasError('required')">New password is required</mat-error>
    </div>
    <div>
        <input type="password" formControlName="newPassConfirm" placeholder="Re-type">
        <mat-error *ngIf="passConfirmControl.touched && passConfirmControl.hasError('required')">New password confirm is
            required
        </mat-error>
        <mat-error *ngIf="passConfirmControl.touched && passConfirmControl.hasError('passwordsMismatch')">
            Passwords mismatch
        </mat-error>
    </div>
    <button mat-raised-button class="sendForgotPassEmail" (click)="sendNewPass()">Send</button>
</form>
