<form [formGroup]="forgotPassForm" class="forgotPassForm" *ngIf="!emailToken">
    <h3>Forgot Password</h3>
    <!--    <mat-form-field>-->
    <input [placeholder]="'Email'" formControlName="email">
    <!--    </mat-form-field>-->
    <button mat-raised-button class="sendForgotPassEmail" (click)="sendEmail()">Send</button>
</form>

<form [formGroup]="confirmNewPassForm" class="forgotPassForm" *ngIf="emailToken">
    <div>
        <input type="password" formControlName="newPass">
    </div>
    <div>
        <input type="password" formControlName="newPassConfirm">
    </div>
    <button mat-raised-button class="sendForgotPassEmail" (click)="sendNewPass()">Send</button>
</form>
