.forgotPassForm {
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 50px;

  h3 {
    margin-bottom: 50px;
  }

  button {
    margin-left: 20px;
    background-color: #4e98e9;
    color: #ffffff;
  }

  > div {
    padding: 10px;
  }
}
