<div class="posts_box">
    <div class="sub_headline post_a_link">
        <h2> Post a link</h2>
        <mat-form-field>
            <mat-label>Choose a Section</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="choose_pic_or_link">
        <mat-tab-group mat-.align-tabs="start">
            <mat-tab label="Choose a picture">
                <dropzone class="dropzone" (error)="onUploadError($event)" (addedFile)="onUploadSuccess($event)"
                          *ngIf="type === 'component'" [disabled]="disabled"
                          [message]="'Click or drag images here to upload'"
                          (init)="onUploadInit($event)"></dropzone>
                <div *ngIf="type === 'directive'" class="dropzone dropzone-container" [dropzone]="config"
                     [disabled]="disabled" (init)="onUploadInit($event)" (error)="onUploadError($event)"
                     (success)="onUploadSuccess($event)"></div>
                <div class="description">
                    <h3>Description</h3>
                    <form action="" [formGroup]="postForm">
                        <ckeditor formControlName="description">
                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" (click)="save($event)"
                                      [icon]="'save.png'"
                                      [label]="'Save Document'" [toolbar]="'clipboard,1'"></ckbutton>
                        </ckeditor>
                    </form>
                </div>
                <button (click)="createPost()">Create Post</button>
                {{newPost | async | json}}
            </mat-tab>
            <mat-tab label="Link">
                <div class="link">
                    <h3>Link</h3>

                    <input type="text" placeholder="Enter post link">
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="post_or_cancel">
            <button class="blue">NSFW</button>
            <div>
                <a class="red">Cancel</a>
                <a routerLink="/posts/home-posts" class="blue" (click)="upload_files()">Post</a>
            </div>
        </div>
    </div>
</div>
