<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="logo_and_close">
      <button type="button" class="close" data-dismiss="modal" mat-dialog-close aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="">Logo Name</h5>
    </div>
    <div class="modal-body">
      <form action="" method="post">

        <div class="form-group">
          <div class="example-full-width">
            <mat-form-field class="login-inp">
              <input matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher" name="name"   [(ngModel)]="userRegisInf.name">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="example-full-width">
            <mat-form-field class="login-inp">
              <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" name="email"   [(ngModel)]="userRegisInf.email">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="example-full-width">
            <mat-form-field class="login-inp">
              <input matInput type="password" placeholder="Password"  [formControl]="passFormControl"
                     [errorStateMatcher]="matcher" name="pass"  [(ngModel)]="userRegisInf.pass">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="passFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="form-group">
          <div class="example-full-width">
            <mat-form-field class="login-inp">
              <input matInput type="password" placeholder="Confirm Password"  [formControl]="confPassFormControl"
                     [errorStateMatcher]="matcher" name="confPass"  [(ngModel)]="userRegisInf.confPass">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="confPassFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button
          [disabled]="passFormControl.hasError('required') || (emailFormControl.hasError('email') || emailFormControl.hasError('required'))"
          mat-raised-button (click)="checkRegister(userRegisInf)" color="primary">Register
        </button>
        <div class="have_account">
          <a href="#"></a>
          <button class="dont_have_account" mat-dialog-close #loginButt  mat-button (click)="showLogin()">Already have an account?</button>
          <button class="login_btn" mat-dialog-close  mat-button (click)="showLogin()">Login</button>
        </div>
      </form>

      <!--<form action="" method="post">-->
        <!--<div class="form_group">-->
          <!--<label for="name"></label>-->
          <!--<input type="text" id="name" placeholder="Name">-->
        <!--</div>-->
        <!--<div class="form_group">-->
          <!--<label for="email_address1"></label>-->
          <!--<input type="text" id="email_address1" placeholder="Email Address">-->
        <!--</div>-->
        <!--<div class="form_group">-->
          <!--<label for="pass1" class="sr-only"></label>-->
          <!--<input type="text" id="pass1" placeholder="Password">-->
        <!--</div>-->
        <!--<div class="form_group">-->
          <!--<label for="conf_pass" class="sr-only"></label>-->
          <!--<input type="text" id="conf_pass" placeholder="Confirm Password">-->
        <!--</div>-->
        <!--<button class="login"> Sign Up </button>-->
        <!---->
      <!--</form>-->
    </div>
  </div>
</div>
