
<div class="content">
    <div class="main row no-gutters">
        <div class="form_feedback">
            <div class="get_in_touch">
                <div class="row">
                    <div class="col-md-12">
                        <div class="get_touch_form">
<!--                            <h3>Get in touch</h3>-->
                            <form action="" method="post">
<!--                                -->
<!--                                <div class="form-group">-->
<!--                                    <div class="example-full-width">-->
<!--                                        <mat-form-field class="login-inp">-->
<!--                                            <input matInput placeholder="Name" [formControl]="nameFormControl"-->
<!--                                                   [errorStateMatcher]="matcher" name="name"-->
<!--                                                   [(ngModel)]="userContactInf.name">-->
<!--                                            <mat-hint>Errors appear instantly!</mat-hint>-->
<!--                                            <mat-error-->
<!--                                                    *ngIf="nameFormControl.hasError('email') && !nameFormControl.hasError('required')">-->
<!--                                                Please enter a valid email address-->
<!--                                            </mat-error>-->
<!--                                            <mat-error *ngIf="nameFormControl.hasError('required')">-->
<!--                                                Email is <strong>required</strong>-->
<!--                                            </mat-error>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->
<!--                                </div>-->
                                
                                <div class="form-group">
                                    <div class="example-full-width">
                                        <label for="select_subject">Please select a subject</label>
                                        <select _ngcontent-jbn-c1="">
                                            <option _ngcontent-jbn-c1="" name="" id="select_subject">subject1</option>
                                            <option _ngcontent-jbn-c1="">subject2</option>
                                        </select>
                                       
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="example-full-width">
                                        <mat-form-field class="login-inp">
                                            <label>Comment</label>
                                            <textarea matInput  [formControl]="messFormControl"
                                                      [errorStateMatcher]="matcher" name="message"
                                                      [(ngModel)]="userContactInf.mess">
                                            </textarea>
                                            <mat-hint>Errors appear instantly!</mat-hint>
                                            <mat-error *ngIf="messFormControl.hasError('required')"></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="example-full-width">
                                        <mat-form-field class="login-inp">
                                            <label>Email</label>
                                            <input matInput [formControl]="emailFormControl"
                                                   [errorStateMatcher]="matcher" name="email"
                                                   [(ngModel)]="userContactInf.email">
                                            <mat-hint>Errors appear instantly!</mat-hint>
                                            <mat-error
                                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button
                                        [disabled]="(emailFormControl.hasError('email') || emailFormControl.hasError('required'))"
                                        mat-raised-button color="primary" (click)="getContact(userContactInf)">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="top_news">
                <div class="sidebar">
                    <div class="top-news">
                        <h4 class="title">Today’s top headlines</h4>
                        <ul>
                            <li class="item" *ngFor="let singleLastet of lastet">
                                <div class="img-block">
                                    <img *ngIf="singleLastet.img" src="../../../assets/images/{{singleLastet.img}}"
                                         class="img-fluid" alt="">
                                </div>
                                <div class="text-block">
                                    <h5 class="title" (click)="getSingle(singleLastet.id)">{{singleLastet.title}}</h5>
                                    <p class="description">{{singleLastet.desc|stripTags}}</p>
                                    <span class="date">{{singleLastet.creted_date}}</span>
                                </div>
                            </li>
                            <div class="show-more">
                                <span class=" active">Show more</span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
