<app-header></app-header>
<div class="content">
  <div class="main row no-gutters">
    <div class="header-notification">
      <div class="notifications_wrapper">
        <ul class="notification-view" data-dropdown-in="fadeIn"
            data-dropdown-out="fadeOut">
          <li>
            <h6>Notifications:</h6>
          </li>
          <li class="margin_top">
            <div class="media">
              <div class="media-body">
                <a href="" class="notification-user">Prince John voted
                  <span>Important May 28</span>
                </a>
                <div class="notification-msg">
                  <p>Lorem ipsum dolor sit amet, consectetuer elit.</p>
                </div>
                <div class="notification-quality">
                  <p><span>Score</span>400</p>
                  <p><span>Total votes </span> 300</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media-body">
                <a href="" class="notification-user">Prince John voted
                  <span>Important May 28</span>
                </a>
                <div class="notification-msg">
                  <p>Lorem ipsum dolor sit amet, consectetuer elit.</p>
                </div>
                <div class="notification-quality">
                  <p><span>Score</span>400</p>
                  <p><span>Total votes </span> 300</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media-body">
                <a href="" class="notification-user">Prince John voted
                  <span>Important May 28</span>
                </a>
                <div class="notification-msg">
                  <p>Lorem ipsum dolor sit amet, consectetuer elit.</p>
                </div>
                <div class="notification-quality">
                  <p><span>Score</span>400</p>
                  <p><span>Total votes </span> 300</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
