<app-header></app-header>

<!--<div class="content">-->
<!--    <div class="main row">-->
<!--        <section class="col-md-8" style="padding-right: 37px">-->
<!--            <div class="single_blog_post">-->
<!--                <div class="post_title_and_desc">-->
<!--                    <h3>{{singlePost.title}}</h3>-->
<!--                    <ul class="view-icons-block">-->
<!--                        <li>-->
<!--                            <a href="" class="score"> Score <span>200</span></a>-->
<!--                        </li>-->
<!--                        <li *ngIf="checkUser()">-->
<!--                            <a *ngIf="singlePost.like == 0"><i class="far fa-thumbs-up"></i><span>like</span></a>-->
<!--                            <a *ngIf="singlePost.like != 0"><i-->
<!--                                    class="farhe fa-thumbs-up"></i><span>like</span>{{singlePost.like}}</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a id='views'><span>views</span> {{singlePost.view}}</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">share</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href=""><span>comments</span></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href=""><span>Question</span></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div class="post_image">-->
<!--                        <img src="../../../assets/images/{{singlePost.img}}" alt="">-->
<!--                    </div>-->
<!--                    <p class="blog_post_text">{{singlePost.desc}}</p>-->
<!--                    <p><img src="../../../assets/images/{{singlePost.img}}" alt=""></p>-->
<!--                    <p>{{singlePost.desc}}</p>-->
<!--                    <p>{{singlePost.desc}}</p>-->
<!--                </div>-->

<!--                &lt;!&ndash; the target button &ndash;&gt;-->

<!--                <div class="leave_comment">-->
<!--                    <h4 class="sub_title">10 Comments</h4>-->
<!--                    <form action="" method="post">-->
<!--                        <div class="form-group">-->
<!--                            <div class="example-full-width">-->
<!--<textarea matInput placeholder="" [formControl]="commentFormControl" cols="30" rows="8"-->
<!--[errorStateMatcher]="matcher" name="message" class="add_comm_or_question_area"-->
<!--[(ngModel)]="addComment.comment"></textarea>-->
<!--<div *ngIf="commentFormControl.hasError('required')">Comment is required</div>-->
<!--<ckeditor [(ngModel)]="ckeditorContent">-->
<!--<ckbutton [name]="'saveButton'" [command]="'saveCmd'" (click)="save($event)"-->
<!--[icon]="'save.png'" [label]="'Save Document'"-->
<!--[toolbar]="'clipboard,1'"></ckbutton>-->
<!--</ckeditor>-->
<!--                            </div>-->
<!--                            <div class="comments_or_question">-->
<!--                                <button id="readOnlyOn" (click)="toggleReadOnly(false);" type="button"-->
<!--                                        value="Make CKEditor read-only">Comments-->
<!--                                </button>-->
<!--                                <button id="readOnlyOff" (click)="toggleReadOnly( false );" type="button"-->
<!--                                        value="Make CKEditor editable again">Question-->
<!--                                </button>-->
<!--                                <button id="cancel" type="button">Cancel</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button mat-raised-button color="primary" (click)="addComments(addComment)">Post</button>-->
<!--                    </form>-->
<!--                    <div class="main_comments">-->
<!--                        <h4 class="sub_title">Comments</h4>-->
<!--                        <div *ngIf="addCommentData.length != 0">-->
<!--                            <div class="comments_box" *ngFor="let addCommentSingle of addCommentData">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <div class="user_pic">-->
<!--                                            <img src="../../../../../assets/avatar/avatar.jpg" alt="">-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="user_name_and_comment">-->
<!--                                            <h4>{{addCommentSingle.name}}<span> {{addCommentSingle.email}} </span></h4>-->
<!--                                            <div class="comment">-->
<!--                                                <p>{{addCommentSingle.comment}}</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="comments_box" *ngFor="let singleComment of comments">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <div class="user_pic">-->
<!--                                        <img src="../../../../../assets/avatar/{{singleComment.img}}" alt="">-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="user_name_and_comment">-->
<!--                                        <h4>{{singleComment.name}}<span> {{singleComment.creted_date}} </span></h4>-->
<!--                                        <div class="comment">-->
<!--                                            <p>{{singleComment.comment}}</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->

<!--                        <button *ngIf="start<commentCount" class="show_more" (click)="loadMyChildComponent();">Show-->
<!--                            more-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="related_articles">-->
<!--                    <h4 class="sub_title">Related Articles</h4>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4" *ngFor="let singleRelated of related">-->
<!--                            <div class="article_pic">-->
<!--                                <img src="../../../../../assets/images/{{singleRelated['img']}}" alt="">-->
<!--                                <div class="article_title">-->
<!--                                    <h3 (click)="getSingle(singleRelated.id)">{{singleRelated['title']}}</h3>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <div class="col-md-4">-->
<!--            <app-aside></app-aside>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="content">
    <div class="main row">
        <section class="col-md-8" style="padding-right: 37px">
            <div class="single_blog_post">
                <div class="post_title_and_desc">
                    <h3>{{singlePost.extractedTitle}}</h3>
                    <small class="desc">{{singlePost.description|stripTags}}</small>
                    <div class="post_image">
                        <img src="{{singlePost.extractedImage}}" alt="" class="postImage">
                        <div class="play">
                            <i class="far fa-play-circle"></i>
                        </div>
                    </div>
                    <p>{{singlePost.extractedDescription}}</p>
                </div>
                <ul class="view-icons-block" *ngIf="auth.loggedIn()">
                    <li>
                        <a href="" class="score">Score <span>200</span></a>
                    </li>
                    <li>
                        <div class="box">
                            <div class="Like like_btn">
                                <img src="../../../../../assets/images/vote.png" alt="">
                                <div class="Like__link js-hover">Votes
                                    <div class="votesCount">{{votes.length}}</div> <!-- hovered_number-->
                                </div>
                                <div class="Emojis">
                                    <!--                                    <div class="Emoji Emoji&#45;&#45;like">-->
                                    <!--                                        <div class="">-->
                                    <!--                                            <button class="blue" (click)="vote('Like', singlePost._id)">Like-->
                                    <!--                                            </button>-->
                                    <!--                                            <p class="num">20</p>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="Emoji Emoji&#45;&#45;love">-->
                                    <!--                                        <div class="">-->
                                    <!--                                            <button class="gray" (click)="vote('Promising', singlePost._id)">-->
                                    <!--                                                Promising-->
                                    <!--                                            </button>-->
                                    <!--                                            <p class="num">30</p>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="Emoji Emoji&#45;&#45;haha">-->
                                    <!--                                        <div class="">-->
                                    <!--                                            <button class="blue" (click)="vote('Useful', singlePost._id)">Useful-->
                                    <!--                                            </button>-->
                                    <!--                                            <p class="num">50</p>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <!--                                    <div class="Emoji Emoji&#45;&#45;love" *ngIf="postCategory==='Influence'">-->
                                    <!--                                        <div class="">-->
                                    <!--                                            <button class="gray" (click)="vote('Important', singlePost._id)">-->
                                    <!--                                                Important-->
                                    <!--                                            </button>-->
                                    <!--                                            <p class="num">30</p>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <ng-container *ngFor="let vType of voteTypes">
                                        <div class="Emoji Emoji--love">
                                            <div class="">
                                                <button class="gray" (click)="vote(vType['name'], singlePost._id)">
                                                    {{vType['name']}}
                                                </button>
                                                <p class="num">30</p>
                                            </div>
                                        </div>
                                    </ng-container>


                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            Views<span>{{singlePost.views}}</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="questions = false">
                            <i class="far fa-comment"></i>
                            Comments<span>{{getCommentsLen('Comment')}}</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="questions = true">
                            Questions<span>{{getCommentsLen('Question')}}</span>
                        </a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <button type="button" class="share">-->
                    <!--                            <i class="fas fa-share"></i>-->
                    <!--                            Share<span></span></button>-->
                    <!--                        <div class="share_post">-->
                    <!--                            <ul>-->
                    <!--                                <li>-->
                    <!--                                    <button><i class="fas fa-link"></i> Copy Link</button>-->
                    <!--                                    <button><img src="images/shuffle.png" alt="">Crosspost</button>-->
                    <!--                                    <button><i class="fas fa-code"></i>Embed</button>-->
                    <!--                                </li>-->
                    <!--                            </ul>-->
                    <!--                        </div>-->
                    <!--                    </li>-->
                </ul>
                <div class="leave_comment" *ngIf="auth.loggedIn()">
                    <div class="commented_by" *ngIf="auth.loggedIn() && userData && userData.fullName">
                        <p>Add as <span>{{userData.fullName}}</span>
                    </div>
                    <div class="border" *ngIf="auth.loggedIn()">
                        <form [formGroup]="postForm" class="postCommentsForm">
                            <textarea formControlName="text" (keypress)="onEditorChange($event)"></textarea>
                            <!--                            <ckeditor formControlName="text" *ngIf="showCk" (keyup)="onEditorChange($event)"-->
                            <!--                                      name="message" class="add_comm_or_question_area"-->
                            <!--                            >-->
                            <!--                                &lt;!&ndash;                                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'" &ndash;&gt;-->

                            <!--                                &lt;!&ndash;                                              [label]="'Save Document'"&ndash;&gt;-->
                            <!--                                &lt;!&ndash;                                              [toolbar]="'clipboard,1'"></ckbutton>&ndash;&gt;-->
                            <!--                                &lt;!&ndash;                                              [icon]="'save.png'"&ndash;&gt;-->
                            <!--                            </ckeditor>-->
                            <div class="comments_or_question">
                                <div>
                                    <small>If it is a question please put a question mark (?) or else it will be treated
                                        as a comment
                                    </small>
                                </div>
                                <div class="checkboxContainer">
                                    <mat-checkbox [checked]="postOnEnter" color="primary"
                                                  (change)="postOnEnter = !postOnEnter">
                                        <small class="enterHint">Send on "Enter"</small>
                                    </mat-checkbox>
                                </div>
                                <!--                                <button id="cancel" type="button" [hidden]="!showCk" (click)="showCk = false">-->
                                <!--                                    Cancel-->
                                <!--                                </button>-->

                                <!--                                <button id="readOnlyOn" (click)="showCk = true" [hidden]="showCk"-->
                                <!--                                        type="button"-->
                                <!--                                        value="Make CKEditor read-only">Comments-->
                                <!--                                </button>-->
                                <!--                                <button id="readOnlyOff" [hidden]="showCk"-->
                                <!--                                        (click)="showCk = true" type="button "-->
                                <!--                                        value="Make CKEditor editable again">Question-->
                                <!--                                </button>-->
                                <div class="postBtnContainer">
                                    <button type="button" class="post_btn" [hidden]="postOnEnter"
                                            (click)="addComments()">Post
                                    </button>
                                </div>
                            </div>
                            <!--                            <div *ngIf="postForm.get('text').hasError('required') && postForm.get('text').touched">-->
                            <!--                                Comment is required-->
                            <!--                            </div>-->
                        </form>
                    </div>
                    <div class="how_many_com_and_quest">
                        <p (click)="changeCommentType('Comment')" [class.selected]="selectedCommentType === 'Comment'"
                           *ngIf="singlePost.category!=='JumpStartups'">
                            Comments
                            <small>({{getCommentsLen('Comment')}})</small>
                        </p>
                        <p (click)="changeCommentType('Question')" [class.selected]="selectedCommentType === 'Question'"
                           *ngIf="singlePost.category==='JumpStartups'||singlePost.category==='Videos'||singlePost.category==='Influence'">
                            Questions
                            <small>({{getCommentsLen('Question')}})</small>
                        </p>
                        <p (click)="changeCommentType('Critics')" [class.selected]="selectedCommentType === 'Critics'"
                           *ngIf="singlePost.category==='StyleAndSweat'">
                            Critics
                            <small>({{getCommentsLen('Critics')}})</small>
                        </p>
                        <p (click)="changeCommentType('Feedback')" [class.selected]="selectedCommentType === 'Feedback'"
                           *ngIf="singlePost.category==='JumpStartups'">
                            Feedback
                            <small>({{getCommentsLen('Feedback')}})</small>

                        </p>
                    </div>
                    <div class="sort">
                        <small>Sort by</small>
                        <div class="dropdown">
                            <p class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Best
                            </p>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Best 1</a>
                                <a class="dropdown-item" href="#">Best 1</a>
                                <a class="dropdown-item" href="#">Best 1</a>
                            </div>
                        </div>
                    </div>
                    <!--</form>-->
                </div>

                <!--                <div class="user_name_of_comments" *ngIf="addCommentData && addCommentData.length != 0">-->
                <!--                    <div class="firset_user" *ngFor="let addCommentSingle of addCommentData">-->
                <!--                        <h3>{{addCommentSingle.name}} Bruce Reid</h3>-->

                <!--                        <h5 class="main_com">{{addCommentSingle.comment}} Lorem ipsum dolor </h5>-->
                <!--                        <button type="button" class="reply">Reply</button>-->
                <!--                        <ul>-->
                <!--                            <li class="reply_name">-->
                <!--                                <h4>John Store</h4>-->
                <!--                                <h5 class="main_com">Who is Corrupted</h5>-->
                <!--                                <button type="button" class="reply"> Reply</button>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                    <button *ngIf="start<commentCount" class="show_more" (click)="loadMyChildComponent();">Show more-->
                <!--                    </button>-->
                <!--                </div>-->
                <div class="comments">
                    <ng-container *ngIf="auth.loggedIn()">
                        <ng-container *ngFor="let comment of filteredComments;let ind = index">
                            <ng-template [ngTemplateOutlet]="commentTmpl"
                                         [ngTemplateOutletContext]="{c: comment, t: selectedCommentType}"></ng-template>
                        </ng-container>
                    </ng-container>

                    <!-- Comment template -->
                    <ng-template #commentTmpl let-comment="c" let-commentType="t">
                        <div>
                            <div class="flex_cont">

                                <!-- Comment author and date -->
                                <div>
                                    <strong class="author">{{comment.creator.name ? comment.creator.name : 'n/a'}}</strong>
                                    <small class="date">{{comment.createdAt|formattedDate:false}}</small>
                                </div>

                                <!-- Menu toggle button -->
                                <button mat-icon-button (click)="toggleDiv(comment,button)"
                                        [hidden]="comment.creator.name !== userData.fullName"
                                        aria-label="Example icon-button with a menu">
                                    <mat-icon #button>more_vert</mat-icon>
                                </button>
                            </div>

                            <!-- Edit & remove buttons menu -->
                            <div *ngIf="show && selectedToggleBtn === button"
                                 class="comment_action" #share>
                                <button mat-menu-item (click)="editComment(comment)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="removeComment(comment._id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                            </div>

                            <!-- Comment text with edit input for it -->
                            <div class="commentContainer">
                                <p class="comment"
                                   *ngIf="!commentEditing || selectedComment!== comment">{{comment.text}}</p>
                                <form *ngIf="commentEditing && selectedComment=== comment"
                                      [formGroup]="commentEditForm">
                                    <input formControlName="text" (keyup.enter)="updateComment()">
                                    <button mat-icon-button (click)="updateComment()" [matTooltip]="'update comment'">
                                        <mat-icon>done</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="commentEditing = false"
                                            [matTooltip]="'cancel comment updating'">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </form>
                                <div>
                                </div>
                            </div>

                            <!--Comment actions-->
                            <div class="actions">
                                <small (click)="likeComment(comment._id,comment.userLiked)">
                                    <i class="fa fa-thumbs-up" [class.selected]="comment.userLiked"></i>
                                    <small>{{comment.totalLikes}}</small>
                                </small>
                                <small (click)="toggleReplyInput(comment)" [hidden]="true"> Reply</small>
                                <small (click)="reportComment(comment)"> Report</small>
                            </div>

                            <div class="replyContainer" *ngIf="showReplyInput && selectedComment===comment">
                                <input (keyup.enter)="replyComment()">
                            </div>
                        </div>


                    </ng-template>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>
