<div class="subscribe_box">
    <div class="sub_headline">
        <h2>Subscribe</h2>
        <h3>Subscribe page</h3>
    </div>
    <div class="text_desc">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s, when an Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an
        </p>
    </div>
    <div class="email">
        <h3>We will you email only the headline news </h3>
        <form action="">
            <label class="check_container"> General News, Politics, Sports, Business
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="check_container">Start up
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="check_container">Pictures
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="check_container">Videos
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="check_container">Fantastic bargains
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <button routerLink="/posts/home-posts">Submit</button>
        </form>
    </div>
</div>
