.login_with_face .face {
  font-family: "Lato-Regular";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.4px;
  color: #ffffff;
  border: unset;
  border-radius: unset;
  display: inline-block;
  padding: 11px;
  text-align: center;
  background: #516eab;
  width: 100%;
  margin-bottom: 25px;
}

.login_with_face p.text-center {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.4px;
  text-align: left;
  color: #000000;
}
