<app-header></app-header>
<div class="content">
  <div class="row">
    <section class="col-md-7">
      <div class="carusel-block">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="opacity-dark"></div>
              <img class="d-block w-100" src="./images/e.png" alt="First slide">
              <div class="carousel-caption white">
                <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry</h5>
                <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="opacity-dark"></div>
              <img class="d-block w-100" src="./images/e.png" alt="Second slide">
              <div class="carousel-caption white">
                <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry</h5>
                <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="opacity-dark"></div>
              <img class="d-block w-100" src="./images/e.png" alt="Third slide">
              <div class="carousel-caption white">
                <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry</h5>
                <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
             data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button"
             data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="text-block">
          <div class="description">
            <h5 class="title">Commerce</h5>
            <p class="text">Around the world</p>
          </div>
          <div class="filter commerce_filters">
            <span>filters:</span>
            <ul class="menu">
              <li class="orange"><a href="">All</a></li>
              <li class="yellow"><a href="">Should be in Headlines</a></li>
              <li class="op-blue"><a href="">Useful</a></li>
              <li class="blue"><a href="">Refreshing</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="news-block">
        <div class="item">
          <div class="img-block">
            <div class="video_block">
              <img src="./images/img2.jpg" class="img-fluid" alt="">
              <button class="play" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="images/play-button.svg" alt="">
              </button>
            </div>

            <ul class="view-icons-block">
              <li>
                <a href="">
                  <img src="./images/like.png" alt=""><span>like</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/eye.png" alt=""><span>views</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/heart.png" alt=""><span>love</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/share.png" alt=""><span>share</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/comments.png" alt=""><span>comments</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </div>
        <div class="item">
          <div class="img-block">
            <div class="video_block">
              <img src="./images/img3.jpg" class="img-fluid" alt="">
              <button class="play">
                <img src="images/play-button.svg" alt="">
              </button>
            </div>
            <ul class="view-icons-block">
              <li>
                <a href="">
                  <img src="./images/like.png" alt=""><span>like</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/eye.png" alt=""><span>views</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/heart.png" alt=""><span>love</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/share.png" alt=""><span>share</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/comments.png" alt=""><span>comments</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </div>
        <div class="item">
          <div class="img-block">
            <div class="video_block">
              <img src="./images/img4.jpg" class="img-fluid" alt="">
              <button class="play">
                <img src="images/play-button.svg" alt="">
              </button>
            </div>
            <ul class="view-icons-block">
              <li>
                <a href="">
                  <img src="./images/like.png" alt=""><span>like</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/eye.png" alt=""><span>views</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/heart.png" alt=""><span>love</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/share.png" alt=""><span>share</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/comments.png" alt=""><span>comments</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </div>
        <div class="item">
          <div class="img-block">
            <div class="video_block">
              <img src="./images/img5.jpg" class="img-fluid" alt="">
              <button class="play">
                <img src="images/play-button.svg" alt="">
              </button>
            </div>
            <ul class="view-icons-block">
              <li>
                <a href="">
                  <img src="./images/like.png" alt=""><span>like</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/eye.png" alt=""><span>views</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/heart.png" alt=""><span>love</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/share.png" alt=""><span>share</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="./images/comments.png" alt=""><span>comments</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </div>
      </div>
    </section>
    <app-aside class="col-md-5"></app-aside>
  </div>
</div>
<app-footer></app-footer>
