<app-header></app-header>
<div class="content">
    <div class="main row no-gutters">
        <section class="col-md-8" style="padding-right: 37px">
            <div class="carusel-block" id="home_carousel">
                <app-owl-carousel></app-owl-carousel>
                <div class="img-block">
                    <div class="slider_bottom_icons">
                        <app-status-bar></app-status-bar>
                    </div>
                </div>
            </div>
            <div class="news-block carusel-block" *ngIf="posts">
                <div class="item">
                    <div class="text-block">
                        <div class="description">
                            <h5></h5>
                            <p></p>
                        </div>
                        <div class="filter">
                            <span>filters:</span>
                            <ul class="menu">
                                <li class="orange">
                                    <button>New</button>
                                </li>
                                <li class="yellow">
                                    <button>Score</button>
                                </li>
                                <li class="op-orange">
                                    <button>Recommend</button>
                                </li>
                                <li class="gray">
                                    <button>Suggestions</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="loop_items item posts_items"
                     infiniteScroll
                     [infiniteScrollDistance]="2"
                     [infiniteScrollThrottle]="50"
                     (scrolled)="onIntersection($event, ind)"
                     *ngFor="let post of filteredPosts.news| searchNews: searchTerm;let ind = index">
                    <div class="post_wrapper">
                        <div class="user_posts">
                            <div class="userName">
                                <div>
                                    <h3>
                                        <span>Posted by</span>
                                        {{post.creator.name}}</h3>
                                    <p class="updateDate"
                                       [matTooltip]="getDateFormatted(post.createdAt)">{{getDateFormatted(post.createdAt, false)}}</p>
                                </div>
                                <app-story-options></app-story-options>
                            </div>
                        </div>
                        <div class="short_desc">
                            <a href="{{post.link}}">{{post.link}}</a>
<!--                            <h6>{{post.description|stripTags}}</h6>-->
                        </div>
                        <div class="img-block">
                            <a href="{{post.link}}" target="_blank">
                                <img src="{{post.extractedImage}}" class="img-fluid" alt="">
                            </a>
                        </div>

                        <div class="text-block">
                            <a href="{{post.link}}" class="text_block_link" target="_blank">
                                <h5 class="news_link">{{getLinkSource(post.link)}}</h5>
                                <h3 class="news_title">{{post.extractedTitle}}</h3>
                                <p class="news_desc">{{post.extractedDescription}}</p>
                            </a>
                        </div>
                    </div>
                    <app-status-bar [single]="post"></app-status-bar>
                </div>
            </div>
        </section>
        <aside class="col-md-4" style="padding-left: 37px">
            <app-aside></app-aside>
        </aside>
    </div>
</div>
<app-footer></app-footer>
