<app-header></app-header>
<div class="content">
    <div class="row">
        <section class="col-md-8" style="padding-right: 37px">
            <div class="carusel-block">
                <app-owl-carousel></app-owl-carousel>
                <div class="img-block">
                    <div class="slider_bottom_icons">
                        <app-status-bar></app-status-bar>
                    </div>
                </div>
            </div>
            <div class="news-block carusel-block">
                <div class="text-block">
                    <div class="description">
                        <h5 class="title">Videos</h5>
                        <p class="text">Around the world</p>
                    </div>
                    <div class="filter commerce_filters">
                        <span>filters:</span>
                        <ul class="menu">
                            <li class="orange"><button>New</button></li>
                            <li class="yellow"><button>Score</button></li>
                            <li class="op-blue"><button>Refreshing</button></li>
                            <li class="blue"><button>Useful</button></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <div class="video_block">
                            <img src="" class="img-fluid" alt="">
                        </div>
                        <app-status-bar></app-status-bar>
                    </div>
                    <div class="text-block">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                    </div>
                </div>
            </div>
        </section>
        <app-aside class="col-md-4" style="padding-left: 37px"></app-aside>
    </div>
</div>
<app-footer></app-footer>
