<app-header></app-header>
<section class="col-md-8" style="padding-right: 37px">
    <div class="carusel-block" id="home_carousel">
<!--        <app-owl-carousel [posts]="posts"></app-owl-carousel>-->
        <div class="img-block">
            <div class="slider_bottom_icons">
                <app-status-bar></app-status-bar>
            </div>
        </div>

        <!--<div class="filter">-->
            <!--<span>filters:</span>-->
            <!--<ul class="menu">-->
                <!--<li class="orange">-->
                    <!--<button>New</button>-->
                <!--</li>-->
                <!--<li class="yellow">-->
                    <!--<button>Score</button>-->
                <!--</li>-->
                <!--<li class="op-orange">-->
                    <!--<button>Informative</button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</section>
