<header class="header home-header-bg fixed-top" id="header_top">
    <div class="navbar">
        <div class="content">
            <div class="logo">
                <div>
                    <a routerLink="/home">
                        <img src="../../../assets/images/logo_white_background.jpg" alt="">
                    </a>
                    <div class="search_box">
                        <form [formGroup]="searchForm" *ngIf="searchAllowed">

                            <p>Readers decide "The Headlines" <a routerLink="/about">more... </a></p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control searchInput" placeholder="Search"
                                       aria-label="search"
                                       formControlName="searchTerm" aria-describedby="basic-addon1"
                                       (keyup)="doSearch()">
                                <div class="input-group-prepend searchButton">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul>
                    <li class="post" ng-class="{ active: isActive('/posts') }">
                        <a *ngIf="!checkUser()" mat-button (click)="showLogin()">post</a>
                        <a *ngIf="checkUser() && router.url!='/add-post'" routerLink="/add-post" mat-button>post</a>
                    </li>
                    <li class="login">
                        <a *ngIf="!auth.loggedIn()" mat-button (click)="showLogin()">login / sign up</a>
                        <a *ngIf="checkUser()" style="color: white">{{userLoggined.name}}</a>
                    </li>
                    <li class="logout">
                        <ul *ngIf="checkUser()">
                            <li class="header-notification">
                                <button mat-button [matMenuTriggerFor]="belowMenu" class="not_btn" *ngIf="auth.loggedIn()">
                                    <span class="bell">
                                        <i class="fas fa-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </span>
                                </button>
                                <mat-menu #belowMenu="matMenu" yPosition="below">
                                    <h6>Notifications:</h6>
                                    <div class="margin_top">
                                        <div class="media">
                                            <div class="media-body">
                                                <a class="notification-user" routerLink="/notifications">Prince John
                                                    voted
                                                    <span>Important May 28</span>
                                                </a>
                                                <div class="notification-msg">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                </div>
                                                <div class="notification-quality">
                                                    <p><span>Score</span>400</p>
                                                    <p><span>Total votes </span> 300</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-menu>
                            </li>
                            <li class="user-profile header-notification" *ngIf="auth.loggedIn()">
                                <button mat-button [matMenuTriggerFor]="beforeMenu" #trigger="matMenuTrigger"
                                         class="user_name">

                                    <span class="userFullName">{{userData ? userData.fullName : '/n/a'}}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </button>
                                <mat-menu #beforeMenu="matMenu" yPosition="below">
                                    <ul class="profile_links">
                                        <li>
                                            <a mat-button routerLink="/profile">My Profile</a>
                                        </li>
                                        <li>
                                            <a mat-button routerLink="/managePost">Manage Posts</a>
                                        </li>
                                        <li>
                                            <a mat-button routerLink="/subscribe">Subscribe</a>
                                        </li>
                                        <li>
                                            <a mat-button (click)="logOut()">LogOut</a>
                                        </li>
                                    </ul>
                                </mat-menu>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                        <i class="fas fa-bars"></i>
                    </button>
                    <div fxShow="true" fxHide.lt-md style="width: 100%">
                        <div class="menu">
                            <div class="burger">
                                <i class="fas fa-bars"></i>
                            </div>
                            <ul class="toggle none-768">
                                <li routerLinkActive="active" [class.active]="router.url==='/home'">
                                    <a (click)="goToLink('/home')"
                                       matTooltip="Politics, Business and General new">Influence</a>
                                </li>
                                <li [class.active]="router.url==='/road'" routerLinkActive="active">
                                    <a (click)="goToLink('/road')" matTooltip="Cinema, Music and Sports news">Style and
                                        sweat</a>
                                </li>
                                <li [class.active]="router.url==='/pictures'" routerLinkActive="active">
                                    <a (click)="goToLink('/pictures')" matTooltip="Post your Pictures">Camera
                                        Pictures</a>
                                </li>
                                <li [class.active]="router.url==='/commerce'" routerLinkActive="active">
                                    <a (click)="goToLink('/commerce')" matTooltip="START UP NEWS">Jump startups</a>
                                </li>
                                <li [class.active]="router.url==='/travel'" routerLinkActive="active">
                                    <a (click)="goToLink('/travel')" matTooltip="TRAVEL NEWS">Human stories</a>
                                </li>
                                <li [class.active]="router.url==='/deals'" routerLinkActive="active">
                                    <a (click)="goToLink('/deals')" matTooltip="DEALS">Love Designs</a>
                                </li>
                                <li [class.active]="router.url==='/video'" routerLinkActive="active">
                                    <a (click)="goToLink('/video')" matTooltip="VIDEOS">videos</a>
                                </li>
                                <li [class.active]="router.url==='/feedback'" routerLinkActive="active">
                                    <a routerLink="/feedback">feedback</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-sidenav-container fxFlexFill>
                <mat-sidenav #sidenav>
                    <mat-nav-list>
                        <a (click)="sidenav.toggle()" href="" mat-list-item><i class="fas fa-times"></i></a>
                        <div class="menu">
                            <div class="burger">
                                <i class="fas fa-bars"></i>
                            </div>
                            <ul class="toggle none-768">
                                <li ng-class="{ active: isActive('/home') }" routerLinkActive="active">
                                    <a (click)="goToLink('/home')"
                                       matTooltip="Politics, Business and General new">Influence</a>
                                </li>
                                <li ng-class="{ active: isActive('/road') }" routerLinkActive="active">
                                    <a routerLink="/road" matTooltip="Cinema, Music and Sports news">Style and sweat</a>
                                </li>
                                <li ng-class="{ active: isActive('/pictures') }" routerLinkActive="active">
                                    <a routerLink="/pictures" matTooltip="Post your Pictures">Camera Pictures</a>
                                </li>
                                <li ng-class="{ active: isActive('/commerce') }" routerLinkActive="active">
                                    <a routerLink="/commerce" matTooltip="START UP NEWS">Jump startups</a>
                                </li>
                                <li ng-class="{ active: isActive('/travel') }" routerLinkActive="active">
                                    <a routerLink="/travel" matTooltip="TRAVEL NEWS">Human stories</a>
                                </li>
                                <li ng-class="{ active: isActive('/deals') }" routerLinkActive="active">
                                    <a routerLink="/deals" matTooltip="DEALS">Love Designs</a>
                                </li>
                                <li ng-class="{ active: isActive('/video') }" routerLinkActive="active-link"
                                    [routerLinkActiveOptions]="{exact:true}">
                                    <a routerLink="/video" matTooltip="VIDEOS">videos</a>
                                </li>
                                <li ng-class="{ active: isActive('/feedback') }" routerLinkActive="active">
                                    <a routerLink="/feedback">feedback</a>
                                </li>
                            </ul>
                        </div>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content fxFlexFill></mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>

    <a scrollTo href="#header_top" id="button"><i class="fas fa-chevron-up"></i></a>
</header>
