<header class="header home-header-bg fixed-top" id="header_top">
    <div class="navbar">
        <div class="content">
            <div class="logo">
                <div>
                    <a (click)="goToLink('/home')">
                        <img src="../../../assets/images/logo_white_background.jpg" alt="">
                    </a>

                    <!--                    <fb-save uri="http://nottheheadlines.com/"></fb-save>-->
                    <!--                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"-->
                    <!--                       class="twitter-share-button" data-show-count="false">Tweet</a>-->
                    <!--                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">-->
                    <!--                        -->
                    <!--                    </script>-->


                    <div class="search_box">
                        <form [formGroup]="searchForm" *ngIf="searchAllowed">
                            <p>Readers decide "The Headlines" <a routerLink="/about">more... </a></p>
                            <div class="input-group">
                                <input type="text" class="form-control searchInput" placeholder="Search"
                                       aria-label="search"
                                       formControlName="searchTerm" aria-describedby="basic-addon1"
                                       (keyup)="doSearch()">
                                <div class="input-group-prepend searchButton">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
                <ul>
                    <li class="post" ng-class="{ active: isActive('/posts') }" fxShow.gt-lg [fxHide.sm]="true"
                        fxHide.xs="true">
                        <!--                        <a *ngIf="auth.loggedIn()" mat-button (click)="showLogin()">post</a>-->
                        <a *ngIf="auth.loggedIn() && router.url!=='/add-post'" routerLink="/add-post"
                           mat-button>post</a>
                    </li>
                    <li class="login" fxShow.gt-lg [fxHide.sm]="true" fxHide.xs="true">
                        <a *ngIf="!auth.loggedIn()" mat-button (click)="showLogin()">login / sign up</a>
                        <a *ngIf="checkUser()" style="color: white">{{userLoggined.name}}</a>
                    </li>
                    <li class="logout">
                        <ul *ngIf="checkUser()" [fxHide.sm]="true" fxHide.xs="true">
                            <li class="header-notification">
                                <!--                                <button mat-button class="not_btn" *ngIf="auth.loggedIn()" (click)="openNot()">-->
                                <!--                                    <span class="bell">-->
                                <!--                                        <i class="fas fa-bell"></i>-->
                                <!--                                        <span class="badge bg-c-red">5</span>-->
                                <!--                                    </span>-->
                                <!--                                </button>-->
                                <!--                                <div class="not_wrapper" *ngIf="show">-->
                                <!--                                    <h6>Notifications:</h6>-->
                                <!--                                    <div class="margin_top">-->
                                <!--                                        <div class="media">-->
                                <!--                                            <div class="media-body">-->
                                <!--                                                <a class="notification-user" routerLink="/notifications">Prince John-->
                                <!--                                                    voted-->
                                <!--                                                    <span>Important May 28</span>-->
                                <!--                                                </a>-->
                                <!--                                                <div class="notification-msg">-->
                                <!--                                                    <p>Lorem ipsum dolor sit amet, consectetuer elit.</p>-->
                                <!--                                                </div>-->
                                <!--                                                <div class="notification-quality">-->
                                <!--                                                    <p><span>Score</span>400</p>-->
                                <!--                                                    <p><span>Total votes </span> 300</p>-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </li>
                            <li class="user-profile header-notification" *ngIf="auth.loggedIn()">
                                <button mat-button [matMenuTriggerFor]="beforeMenu" #trigger="matMenuTrigger"
                                        class="user_name">
                                    <span class="userFullName">{{userData ? userData.fullName : '/n/a'}}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </button>
                                <mat-menu #beforeMenu="matMenu" yPosition="below">
                                    <ul class="profile_links" (mouseleave)="hideDiv(trigger)">
                                        <li>
                                            <a (click)="goToLink('/profile')">My Profile</a>
                                        </li>
                                        <li>
                                            <a (click)="goToLink('/managePost')">Manage Posts</a>
                                        </li>
                                        <!--<li>-->
                                        <!--<a (click)="goToLink('/subscribe')">Subscribe</a>-->
                                        <!--</li>-->
                                        <li>
                                            <a (click)="logOut()">LogOut</a>
                                        </li>
                                    </ul>
                                </mat-menu>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <mat-toolbar>
                <mat-toolbar-row>
                    <div class="flex_container mobile_flex_cont">
                        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="shareBtns">


                            <!-- This is here because otherwise the style of the share buttons is breaking-->
                            <share-buttons [url]="'http://nottheheadlines.com'" [include]="['facebook','twitter']"
                                           [theme]="'material-light'"
                                           [showCount]="true"></share-buttons>
                        </div>
                        <div fxShow="true" fxHide.gt-sm>
                            <div class="user">
                                <div>
                                    <div class="user_info">
                                        <div class="logout">
                                            <ul class="mobile_list">
                                                <li class="post" ng-class="{ active: isActive('/posts') }">
                                                    <a *ngIf="!checkUser()" mat-button (click)="showLogin()"><i
                                                            class="fas fa-link"></i></a>
                                                    <a *ngIf="checkUser()" routerLink="/add-post" mat-button><i
                                                            class="fas fa-link"></i></a>
                                                </li>
                                                <li class="header-notification" *ngIf="checkUser()">
                                                    <!--                                                    <button mat-button class="not_btn" *ngIf="auth.loggedIn()"-->
                                                    <!--                                                            (click)="openNot()">-->
                                                    <!--                                                        <span class="bell">-->
                                                    <!--                                                            <i class="fas fa-bell"></i>-->
                                                    <!--                                                            <span class="badge bg-c-red">5</span>-->
                                                    <!--                                                        </span>-->
                                                    <!--                                                    </button>-->

                                                    <!--                                                    <div class="not_wrapper" *ngIf="show">-->
                                                    <!--                                                        <h6>Notifications:</h6>-->
                                                    <!--                                                        <div class="margin_top">-->
                                                    <!--                                                            <div class="media">-->
                                                    <!--                                                                <div class="media-body">-->
                                                    <!--                                                                    <a class="notification-user"-->
                                                    <!--                                                                       routerLink="/notifications">Prince John-->
                                                    <!--                                                                        voted-->
                                                    <!--                                                                        <span>Important May 28</span>-->
                                                    <!--                                                                    </a>-->
                                                    <!--                                                                    <div class="notification-msg">-->
                                                    <!--                                                                        <p>Lorem ipsum dolor sit amet, consectetuer-->
                                                    <!--                                                                            elit.</p>-->
                                                    <!--                                                                    </div>-->
                                                    <!--                                                                    <div class="notification-quality">-->
                                                    <!--                                                                        <p><span>Score</span>400</p>-->
                                                    <!--                                                                        <p><span>Total votes </span> 300</p>-->
                                                    <!--                                                                    </div>-->
                                                    <!--                                                                </div>-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->

                                                </li>
                                            </ul>
                                        </div>
                                        <div (click)="toggleShow()">
                                            <img src="../../../assets/avatar/user%20(2).png" alt="">
                                        </div>
                                        <div class="mobile_user_info" *ngIf="isShown" #toggleButton
                                             (mouseleave)="hideDiv()">
                                            <ul class="">
                                                <li class="login" *ngIf="!checkUser()">
                                                    <a *ngIf="!auth.loggedIn()" (click)="showLogin()">Login / Sign
                                                        Up</a>
                                                </li>
                                                <li class="user-profile header-notification login"
                                                    *ngIf="auth.loggedIn()">
                                                    <a class="user_name">
                                                        <span class="userFullName">{{userData ? userData.fullName : '/n/a'}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul *ngIf="!checkUser()">
                                                <li><a routerLink="/about">About</a></li>
                                                <li><a>Privacy Policy</a></li>
                                                <li><a>
                                                    <div class="feedback_btn_mobile">
                                                        <button (click)="openDialog('ok')">Feedback</button>
                                                    </div>
                                                </a>
                                                </li>
                                            </ul>
                                            <ul *ngIf="checkUser()">
                                                <li>
                                                    <a (click)="goToLink('/profile')">My Profile</a>
                                                </li>
                                                <li>
                                                    <a (click)="goToLink('/managePost')">Manage Posts</a>
                                                </li>
                                                <li>
                                                    <a (click)="goToLink('/about')">About</a>
                                                </li>
                                                <li>
                                                    <a>Privacy Policy</a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="feedback_btn_mobile">
                                                            <button (click)="openDialog('ok')">Feedback</button>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a (click)="logOut()">Logout</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxShow="true" fxHide.lt-md style="width: 100%">
                        <div class="menu">
                            <div class="burger">
                                <i class="fas fa-bars"></i>
                            </div>
                            <ul class="toggle none-768">
                                <li *ngFor="let section of sections"
                                    [class.active]="router.url===section.link || this.postCategory === section.dbName"
                                    routerLinkActive="active">
                                    <a (click)="goToLink(section.link)"
                                       [matTooltip]="section.tooltip">{{section['name']}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-sidenav-container fxFlexFill>
                <mat-sidenav #sidenav>
                    <mat-nav-list>
                        <a (click)="sidenav.toggle()" href="" mat-list-item><i class="fas fa-times"></i></a>
                        <div class="menu">
                            <div class="burger">
                                <i class="fas fa-bars"></i>
                            </div>
                            <ul class="toggle none-768">
                                <li *ngFor="let section of sections"
                                    [class.active]="router.url===section.link || this.postCategory === section.dbName"
                                    routerLinkActive="active" [matTooltip]="section.tooltip">
                                    <a (click)="goToLink(section.link)">{{section['name']}}</a>
                                </li>
                            </ul>
                        </div>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content fxFlexFill></mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
    <a scrollTo href="#header_top" id="button" [hidden]="!showScrollToTopBtn"><i class="fas fa-chevron-up"></i></a>
    <div class="feedback_btn">
        <button (click)="openDialog('ok')">Feedback</button>
    </div>

</header>

