span, p {
  font-family: 'latoRegular', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.4px;
  text-align: left;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

a:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'latoBlack', sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.content {
  width: 87%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.active {
  border-bottom: 2px solid #e14040;
}

.whtie {
  color: white;
}

.opacity-dark {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*home page start*/

/*header start*/

.menu-spacer {
  flex: 1 1 auto;
}

header {
  margin-bottom: 100px;

  .navbar {
    position: relative;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;

    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .logo {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #e14040;
      margin-bottom: 13px;
      padding-bottom: 13px;
      font-size: 1.2em;
      font-family: 'latoRegular', sans-serif;

      a {
        text-transform: uppercase;
      }

      p {
        width: 100%;
        margin: 10px 20px;
        text-align: center;
      }

      & > div {
        display: flex;
        align-items: center;
        width: 66%;
        justify-content: space-between;

        a {
          width: 50%;

          img {
            width: 70%;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {

          &.post {
            background-color: #3788c6;
            color: white;
            margin-right: 15px;

            a {
              text-transform: uppercase;

              span {
                color: white
              }
            }
          }

          &.login {
            text-align: center;
            background-color: #e14040;
            color: white;
            width: 200px;
            a {
              text-transform: uppercase;

              span {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .menu {
    width: 100%;

    .burger {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
      font-size: 1.2em;

      li {
        padding: 5px 0;
        width: 100%;
        text-align: center;
        border-right: 1px solid #e14040;

        &.active {
          a {
            border-bottom: 2px solid #e14040;
            padding-bottom: 10px;
          }
        }

        a {
          color: black;
          font-family: 'latoBlack', sans-serif;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.menu ul li.active a {
  border-bottom: 2px solid #e14040;
  padding-bottom: 10px;
}

#button {
  background-color: #3788c6;
  width: 50px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  font-size: 15px;
  padding: 10px 0;

  i {
    font-size: 2em;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: #333;
  }

  &:active {
    background-color: #555;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }
}


.mat-toolbar-row {
  background: white;
}

.active {
  color: red;
}

mat-sidenav-container {
  position: inherit;
}

mat-toolbar {
  width: 100%;
}

/*search box*/

#content {
  margin-right: 20px;
  transform: translate(0, 0);

  .on {
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  input {
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    border: 4px solid #3788c6;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(0, 0);
  }

  .search {
    background: none;
    position: absolute;
    top: -8px;
    right: -15px;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .search:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #3788c6;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 8px;
    margin-left: 26px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #3788c6;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #3788c6;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 36px;
    border: 4px solid #3788c6;
    /*background-color: #3788c6;*/
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(0, 0);
  }

}

.post {
  &_image {
    position: relative;
    margin: 0 0 50px 0;

    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 90px;
      cursor: pointer;
      color: white;
    }
  }

  &_com {
    margin-top: 50px;
  }
}

.leave_comment #ckEditor {
  border: 1px solid #c4c4c4;
  min-height: 190px;
  margin-top: 35px;
  color: black;
}

.news-block .img-block img {
  width: 70%;
}

@media screen and (max-width: 1120px) {

  header {

    .navbar {
      height: 100%;

      .logo {
        flex-direction: column;

        > div {
          width: 100% !important;

          a{
            width: 50%;

            img{
              width: 50%;
            }
          }
        }

        ul {
          li {
            &.login {
              a {
                padding: 10px;
              }
            }
          }
        }

        p{
          width: 100%;
        }
      }

      .menu {
        ul {
          flex-direction: column;
        }
      }
    }

    .mat-drawer {
      left: 0;
      width: 50%;

      ul {
        width: 100%;
        background: none;
      }
    }
  }

  .sidebar {
    .connect-block {
      .title {
        letter-spacing: normal;
      }
    }
  }

}

@media screen and (max-width: 600px) {
  .logo a img {
    width: 50%;
  }
}

/*header end*/
