span, p {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.4px;
  text-align: left;
  color: #000000;
}

::ng-deep .mat-tooltip {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

a:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato-Black', sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100% !important;
  object-fit: cover;
}

/*home page start*/

/*header start*/

.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}

.logo {
  a {
    img {
      width: 100%;
    }
  }
}

.search_box {
  width: 60%;
}

header {
  margin-bottom: 100px;

  .navbar {
    position: relative;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 30px 0 0;
    width: 100%;

    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 0 auto;
    }

    .logo {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #e14040;
      font-size: 1.2em;
      font-family: 'Lato-Regular', sans-serif;

      a {
        text-transform: uppercase;
      }

      p {
        width: 100%;
        margin: 10px 20px;
        text-align: center;
        color: #bfbfbe;
        font-family: 'BrandonText-Regular';
        font-size: 17px;

        a {
          color: black;
          font-family: 'BrandonText-Regular';
          font-size: 17px;
          text-transform: lowercase;
        }
      }

      & > div {
        display: flex;
        align-items: center;
        width: 66%;
        justify-content: space-between;

        a {
          width: 14%;

          img {
            width: 100%;
          }
        }

        @media screen and (max-width: 992px) {
          width: 100%;

          a {
            width: 30%;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        @media screen and (max-width: 1024px) and (min-width: 768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          margin-left: 10px;
        }

        @media screen and (max-width: 768px) {
          justify-content: flex-end;
        }

        li {
          .mat-button-wrapper {
            font-size: 17px;
          }

          &.post {
            background-color: #3788c6;
            color: white;
            margin-right: 15px;
            padding: 0 20px;

            a {
              text-transform: uppercase;
              padding: 0;

              .mat-button-wrapper {
                font-size: 16px !important;
              }

              span {
                color: white
              }
            }
          }

          &.login {
            text-align: center;
            background-color: #e14040;
            color: white;
            //width: 200px;

            a {
              text-transform: uppercase;
              //padding: 0 19px !important;

              .mat-button-wrapper {
                font-size: 16px !important;
              }

              span {
                color: white;
                font-size: 17px !important;
              }
            }
          }
        }
      }
    }
  }

  .menu {
    width: 100%;

    .burger {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 1.2em;
      color: #727377;
      margin-bottom: 30px;

      @media screen and (max-width: 768px) {
        height: 100%;
        top: 80px;
        margin: unset;
      }

      li {
        padding: 5px 0;
        text-align: center;
        //margin-left: 6.4%;

        &:first-child {
          margin-left: 1%;
        }

        &.active {
          border-bottom: 2px solid #FFFFFF !important;
          padding-bottom: 0;

          a {
            border-bottom: 2px solid #e14040;
          }
        }

        &:last-child {
          text-align: left;
        }

        a {
          color: #727377;
          font-family: 'BrandonText-Regular', sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          cursor: pointer;
          letter-spacing: normal;
          line-height: 1.5;
        }
      }
    }
  }
}


#button {
  background-color: #3788c6;
  width: 50px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  font-size: 15px;
  padding: 10px 0;

  i {
    font-size: 2em;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: #333;
  }

  &:active {
    background-color: #555;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }
}

.mat-toolbar-row {
  background: white;
}

.active {
  color: red;
}

mat-sidenav-container.mat-drawer-container.mat-sidenav-container.mat-drawer-transition.mat-drawer-opened {
  position: inherit;
  height: 100vh !important;

  .mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    width: 71vw;
    left: 0;
  }
}

mat-toolbar {
  width: 100%;
}

/*search box*/

.show-notification, .profile-notification {
  background: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
  opacity: 1;
  position: absolute;
  left: auto;
  right: -15px;
  visibility: visible;
  overflow: visible;
  width: 24rem;
  padding: 15px 20px;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  z-index: 9999999;
}

.show.profile-notification {
  width: 14rem;
}

.show.profile-notification:before {
  content: "";
  border: 10px solid transparent;
  border-left-color: #fff;
  border-top-color: #fff;
  position: absolute;
  border-radius: 3px;
  top: -8px;
  right: 15px;
  -webkit-box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
  box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1002;
}

.profile-notification li {
  line-height: initial;
  padding: 0.5em 7px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile-notification a {
  font-size: 15px;
  padding-left: 0;
}

.profile-notification a {
  color: #333;
}

.dropdown-toggle {
  line-height: 4.4;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.profile-notification li:hover {
  background-color: #f1f1f1;
}

.show-notification li.active {
  background-color: #f1f1f1;
}

.badge {
  border-radius: 50%;
  right: -12px;
  position: absolute;
  color: #fff;
  padding: 4px;
  width: 19px;
  -webkit-animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  top: -19px;
  left: 8px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.bell {
  position: relative;
}

.bg-c-red {
  background: #FF5370;
}

span.badge {
  display: inline-block;
}

.not_dropdown:after {
  display: none;
}

li.margin_top {
  margin-top: 40px;
}

.media-body a.notification-user, .media-body a.notification-user span {
  font-size: 14px;
  font-family: 'Lato-Regular';
  margin-bottom: 15px;
  display: block;
  text-transform: capitalize;
}

.media-body a.notification-user span {
  display: inline-block;
  margin-bottom: 0;
}

.notification-msg, .notification-quality {
  border: 1px solid #a6a6a6;
  text-align: left;
  font-size: 12px;

}

.notification-msg p, .notification-quality p, .notification-quality p span {
  text-align: left;
  color: black;
  font-size: 13px;
  font-family: 'Lato-Regular';
  width: auto;
  margin: 10px 20px;
}

.notification-msg p {
  margin: 10px 20px;
}

.notification-quality {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.media {
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 20px;
}

.notification-quality p span, .media-body h5.notification-user span {
  font-family: 'Lato-Black';
}

.notification-quality p {
  margin: 0;
}

.notification-quality p span {
  padding-right: 4px;
}

.notifications_wrapper {
  background: white;
  padding: 20px;
}

.notifications_wrapper .media-body p {
  margin: 10px 20px;
}

.main .header-notification {
  width: 94%;
  margin: 0 auto;
}

.margin_top {
  margin-top: 40px;
}

//#content {
//  margin-right: 20px;
//  transform: translate(0, 0);
//
//  .on {
//    -webkit-animation-name: in-out;
//    animation-name: in-out;
//    -webkit-animation-duration: 0.7s;
//    animation-duration: 0.7s;
//    -webkit-animation-timing-function: linear;
//    animation-timing-function: linear;
//    -webkit-animation-iteration-count: 1;
//    animation-iteration-count: 1;
//  }
//
//  input {
//    box-sizing: border-box;
//    width: 26px;
//    height: 26px;
//    border: 4px solid #3788c6;
//    border-radius: 50%;
//    background: none;
//    color: #fff;
//    font-size: 16px;
//    font-weight: 400;
//    outline: 0;
//    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
//    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
//    -webkit-transition-delay: 0.4s;
//    transition-delay: 0.4s;
//    -webkit-transform: translate(-100%, -50%);
//    -ms-transform: translate(-100%, -50%);
//    transform: translate(0, 0);
//  }
//
//  .search {
//    background: none;
//    position: absolute;
//    top: -8px;
//    right: -15px;
//    height: 50px;
//    width: 50px;
//    padding: 0;
//    border-radius: 100%;
//    outline: 0;
//    border: 0;
//    color: inherit;
//    cursor: pointer;
//    -webkit-transition: 0.2s ease-in-out;
//    transition: 0.2s ease-in-out;
//    -webkit-transform: translate(0, 0);
//    -ms-transform: translate(0, 0);
//    transform: translate(0, 0);
//  }
//
//  .search:before {
//    content: "";
//    position: absolute;
//    width: 20px;
//    height: 4px;
//    background-color: #3788c6;
//    -webkit-transform: rotate(45deg);
//    -ms-transform: rotate(45deg);
//    transform: rotate(45deg);
//    margin-top: 8px;
//    margin-left: 26px;
//    -webkit-transition: 0.2s ease-in-out;
//    transition: 0.2s ease-in-out;
//  }
//
//  .close {
//    -webkit-transition: 0.4s ease-in-out;
//    transition: 0.4s ease-in-out;
//    -webkit-transition-delay: 0.4s;
//    transition-delay: 0.4s;
//  }
//
//  .close:before {
//    content: "";
//    position: absolute;
//    width: 27px;
//    height: 4px;
//    margin-top: -1px;
//    margin-left: -13px;
//    background-color: #3788c6;
//    -webkit-transform: rotate(45deg);
//    -ms-transform: rotate(45deg);
//    transform: rotate(45deg);
//    -webkit-transition: 0.2s ease-in-out;
//    transition: 0.2s ease-in-out;
//  }
//
//  .close:after {
//    content: "";
//    position: absolute;
//    width: 27px;
//    height: 4px;
//    background-color: #3788c6;
//    margin-top: -1px;
//    margin-left: -13px;
//    cursor: pointer;
//    -webkit-transform: rotate(-45deg);
//    -ms-transform: rotate(-45deg);
//    transform: rotate(-45deg);
//  }
//
//  .square {
//    box-sizing: border-box;
//    padding: 0 40px 0 10px;
//    width: 300px;
//    height: 36px;
//    border: 4px solid #3788c6;
//    /*background-color: #3788c6;*/
//    border-radius: 10px;
//    color: #fff;
//    font-size: 16px;
//    font-weight: 400;
//    outline: 0;
//    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
//    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
//    -webkit-transition-delay: 0.4s, 0s, 0.4s;
//    transition-delay: 0.4s, 0s, 0.4s;
//    -webkit-transform: translate(-100%, -50%);
//    -ms-transform: translate(-100%, -50%);
//    transform: translate(0, 0);
//  }
//
//}
//
//.post {
//  &_image {
//    position: relative;
//    margin: 0 0 50px 0;
//
//    .play {
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//      font-size: 90px;
//      cursor: pointer;
//      color: white;
//    }
//  }
//
//  &_com {
//    margin-top: 50px;
//  }
//}
//
//.leave_comment #ckEditor {
//  border: 1px solid #c4c4c4;
//  min-height: 190px;
//  margin-top: 35px;
//  color: black;
//}
//
//.news-block .img-block img {
//  width: 70%;
//}

//@media screen and (max-width: 1120px) {
//
//  header {
//
//    .navbar {
//      height: 100%;
//
//      .logo {
//        flex-direction: column;
//
//        > div {
//          width: 100% !important;
//
//          a {
//            width: 50%;
//
//            img {
//              width: 50%;
//            }
//          }
//        }
//
//        ul {
//          li {
//            &.login {
//              a {
//                padding: 10px;
//              }
//            }
//          }
//        }
//
//        p {
//          width: 100%;
//        }
//      }
//
//      .menu {
//        ul {
//          flex-direction: column;
//        }
//      }
//    }
//
//    .mat-drawer {
//      left: 0;
//      width: 50%;
//
//      ul {
//        width: 100%;
//        background: none;
//      }
//    }
//  }
//
//  .sidebar {
//    .connect-block {
//      .title {
//        letter-spacing: normal;
//      }
//    }
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .logo a img {
//    width: 50%;
//  }
//}

.not_btn {
  padding: 0;
  min-width: auto;
}

.user_name {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    border-top: 0.5em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
  }
}

/*header end*/

