<aside>
  <div class="sidebar">
    <div class="top-news">
      <h4 class="title">Today’s top headlines</h4>
      <ul>
        <li class="item" *ngFor="let singleLastet of lastet">
          <div class="img-block">
            <img src="../../../assets/images/{{singleLastet.img}}" class="img-fluid" alt="">
          </div>
          <div class="text-block">
            <h5 class="title" (click)="getSingle(singleLastet.id)">{{singleLastet.title}}</h5>
            <p class="description">{{singleLastet.desc}}</p>
            <span class="date">{{singleLastet.creted_date}}</span>
          </div>
        </li>
        <div class="show-more">
          <span class=" active">Show more</span>
        </div>
      </ul>
    </div>
    <div class="live-block">
      <div class="img-block">
        <img src="./images/live.jpg" class="img-fluid" alt="">
      </div>
      <div class="text-block">
        <p>about us <span>||</span> privatey policy <span>||</span> contact policy</p>
      </div>
    </div>
    <div class="newsletters-block">
      <h4 class="title">newsletters</h4>
      <p class="text">Leprehenderit in voluptate velit esse cillum dolore but fugiat nulla pariatur.
        Excepteur sint occaecat </p>
      <div class="input">
        <input type="text" placeholder="enter your email">
      </div>
      <button class="button">subscribe</button>
    </div>
    <div class="connect-block">
      <div class="title">
        lorem ipsum
      </div>
      <div class="img-block">
        <img src="./images/long-jpeg.jpg" class="img-fluid" alt="">
      </div>
      <div>
        <p class="title">connect with us</p>
        <ul class="social_network_sidebar">
          <li>
            <div class="img-block facebook"><i class="fab fa-facebook-f"></i></div>
            <div class="text-block facebook"><a href="#">facebook</a></div>
          </li>
          <li>
            <div class="img-block twitter"><i class="fab fa-twitter"></i></div>
            <div class="text-block twitter"><a href="#">twitter</a></div>
          </li>
          <li>
            <div class="img-block google"><i class="fab fa-google-plus-g"></i></div>
            <div class="text-block google"><a href="#">google +</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
