<aside>
    <div class="sidebar">
        <div class="top-news">
            <h4 class="title text-center">Today’s top</h4>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Headlines
                    </ng-template>
                    <ul>
                        <li class="item" *ngFor="let singleLastet of lastet.news">
                            <div class="img-block">
                                <img *ngIf="singleLastet.img" src="../../../assets/images/{{singleLastet.img}}"
                                     class="img-fluid" alt="">
                            </div>
                            <div class="text-block">
                                <h5 class="title" (click)="getSingle(singleLastet.link)">{{singleLastet.title}}</h5>
                                <p class="description">{{strip_tags(singleLastet.description)}}</p>
                                <span class="date">{{singleLastet.created_date}}</span>
                            </div>
                        </li>
                    </ul>
                    <div class="show-more">
                        <span class=" active">Show more</span>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>Questions</mat-icon>
                    </ng-template>
                    <ul>
                        <li class="item" *ngFor="let singleLastet of lastet.news">
                            <div class="img-block">
                                <img *ngIf="singleLastet.img" src="../../../assets/images/{{singleLastet.img}}"
                                     class="img-fluid" alt="">
                            </div>
                            <div class="text-block">
                                <h5 class="title" (click)="getSingle(singleLastet.link)">{{singleLastet.title}}</h5>
                                <p class="description">{{singleLastet.description|stripTags}}</p>
                                <span class="date">{{singleLastet.created_date}}</span>
                            </div>
                        </li>
                    </ul>
                    <div class="show-more">
                        <span class=" active">Show more</span>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="sidebar">
        <div class="top_contributors border_box">
            <h4 class="title">Top contributors</h4>
            <div class="contributors_content_box">
                <ol>
                    <li>
                        <a href="top_contributors.html" class="username">Username <span>1</span></a>
                        <p><span class="score">Score</span> 250</p>
                    </li>
                    <li>
                        <a href="top_contributors.html" class="username">Username <span>2</span></a>
                        <p><span class="score">Score</span> 200</p>
                    </li>
                    <li>
                        <a href="top_contributors.html" class="username">Username <span>3</span></a>
                        <p><span class="score">Score</span> 300</p>
                    </li>
                </ol>
                <a href="#">More</a>
            </div>
        </div>
    </div>

    <div class="sidebar policy">
        <div class="s1m7ksmt-4 iQweaf s12j7ec3-0 dpUElj" data-redditstyle="false">
            <div class="_3RPJ8hHnfFohktLZca18J6">
                <div class="s1m7ksmt-0 drEVnI">
                    <div class="s3m0u52-0 bdzHTz">
                        <div>
                            <a class="s1m7ksmt-1 ebuWXQ" routerLink="">about us</a>
                            <a class="s1m7ksmt-1 ebuWXQ" routerLink="">content policy</a>
                        </div>
                    </div>
                    <div class="s3m0u52-0 bdzHTz">
                        <div>
                            <a class="s1m7ksmt-1 ebuWXQ" routerLink="">advertise</a>
                            <a class="s1m7ksmt-1 ebuWXQ" routerLink="">Privacy policy</a>
                        </div>
                    </div>
                </div>

                <div class="s1m7ksmt-2 jMwzIF">
                    <div>© 2019 Not the Headlines Ltd, All rights reserved</div>
                </div>
            </div>
        </div>
    </div>
</aside>

