.title.slider {
  font-family: 'Lato-Black', sans-serif;
  font-size: 1.85em;
  font-weight: 900;
  line-height: 1.85;
  letter-spacing: 2.1px;
  text-align: justify;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.sidebar {
  background-color: #fff;
  border: solid 1px #959595;
  padding: 40px 40px 15px;
  width: 80%;
  margin: 0 auto 20px;
  cursor: pointer;

  .mat-tab-label {
    flex-grow: 1;
    list-style: none;
    border: solid 1px #CCC;
    text-align: center;
    cursor: pointer;
    font-family: 'BrandonText-Regular', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    word-break: break-all;
    padding: 10px 0;
    margin: 0;
  }

  .title {
    font-family: 'Lato-Black';
    font-size: 1em;
    letter-spacing: 1.8px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    text-transform: uppercase;
    display: block;
  }

  &.policy {
    padding: 20px 20px;

    .dpUElj {
      overflow-wrap: break-word;
      background-color: rgb(255, 255, 255);
      color: rgb(26, 26, 27);
      fill: rgb(26, 26, 27);
      border-radius: 5px 5px 4px 4px;
      overflow: visible;
      margin: 0;

      .drEVnI {
        display: flex;
        flex-direction: row;
        padding: 0 12px 12px;
        margin: 0;

        .bdzHTz {
          width: 50%;
          flex: 0 0 50%;

          .ebuWXQ {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            display: block;
            text-transform: capitalize;
            text-decoration: none;
            font-family: 'Lato-Regular';
            text-align: left;
            margin-bottom: 20px;
            color: black;
          }
        }
      }
    }
  }

  .top-news {
    padding-bottom: 50px;

    h4.title {
      font-family: 'Lato-Regular';
      font-size: 1.20em;
      letter-spacing: 1.8px;
      text-align: center;
      color: #000000;
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    .title {
      font-family: 'Lato-Black';
      font-size: 1em;
      letter-spacing: 1.8px;
      text-align: center;
      color: #000000;
      margin-bottom: 0;
      text-transform: uppercase;
      display: block;
    }

    .contributors_content_box {
      li {
        margin: 20px 0;
      }

      p {
        font-size: 14px;
        font-family: 'Lato-Bold';

        span {
          font-size: 14px;
          font-family: 'Lato-Bold';

        }
      }

      a {
        font-family: 'Lato-Bold';
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: 1.4px;
        text-align: left;
        color: #000000;
        display: block;
      }

      .username {
        font-family: 'Lato-Regular';
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: 1.4px;
        text-align: left;
        color: #000000;
        display: block;
        text-transform: uppercase;
      }
    }

    .tab-button {
      flex-grow: 1;
      list-style: none;
      border: solid 1px #CCC;
      text-align: center;
      cursor: pointer;
      margin-bottom: 20px;
      font-family: 'BrandonText-Regular', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      word-break: break-all;
      padding: 10px 0;

      &-area {
        display: flex;
        justify-content: center;

        .tab-content {
          display: none;

          &.show {
            display: block;
          }
        }
      }

      &.active {
        transition: all 0.2s ease-out;
        background-color: #3788c6;
        color: white;
        cursor: pointer;
      }
    }

    .img-block {
      width: 39%;
      margin-right: 4%;
    }

    .text-block {
      width: 57%;

      .title {
        margin-bottom: 20px;
        font-family: 'Lato-Semi-Bold';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: left;
        color: #000000;
      }

      .description {
        margin-bottom: 10px;
        font-family: 'Lato-Regular';
        font-size: 13.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        text-align: left;
        color: #000000;
      }

      .date {
        font-family: 'Lato-Light';
        font-weight: 300;
        font-size: 11px;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.45;
        letter-spacing: 0.9px;
        text-align: left;
        color: #7c7c7c;
      }
    }

    .show-more {
      font-family: 'Lato-Semi-Bold';
      font-size: 1.2em;
      font-weight: 600;
      line-height: 1.79;
      letter-spacing: 1.4px;
      text-align: center;
    }

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .img-block {
        width: 48%;
        margin-right: 25px;
      }

      img {
        width: 39%;
        height: 90px !important;
        margin-right: 4%;
        object-fit: cover;
      }
    }
  }

  .contributors_content_box {
    .username {
      font-family: 'Lato-Regular';
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.92;
      letter-spacing: 1.4px;
      text-align: left;
      color: #000000;
      display: block;
      text-transform: uppercase;

      span {
        font-size: 16px;
      }

    }

    p {
      font-size: 14px;
      font-family: 'Lato-Bold';

      span {
        font-size: 14px;
        font-family: 'Lato-Bold';
        color: #3788c6;
      }
    }

    a {
      font-family: 'Lato-Bold';
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.92;
      letter-spacing: 1.4px;
      text-align: center;
      color: #000000;
      display: block;

      span {
        font-family: 'Lato-Bold';
      }
    }

    ol {
      margin: 10px 0;

      li {
        margin: 20px 0;
      }
    }
  }

  .live-block {
    .img-block {
      img {
        width: 100%;
      }
    }

    .text-block {
      p {
        font-size: 1.5em;
        letter-spacing: 1.8px;
        text-align: center;
        margin: 45px 0 70px;
      }

      span {
        color: red;
      }
    }
  }

  .newsletters-block {
    text-align: center;
    padding-bottom: 50px;

    .title {
      text-transform: uppercase;
      font-size: 1.71em;
      letter-spacing: 1.9px;
      margin-bottom: 20px;
    }

    .text {
      font-family: 'Lato-Regular';
      font-size: 14px;
      letter-spacing: 1.1px;
      text-align: center;
      margin-bottom: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #000000;
    }

    .input input {
      width: 84%;
      max-width: 395px;
      min-width: 140px;
      height: 2.28em;
      opacity: 0.25;
      border-radius: 10px;
      background-color: #959595;
      margin-bottom: 20px;
    }

    .button {
      width: 39%;
      max-width: 167px;
      min-width: 120px;
      height: 32px;
      border-radius: 10px;
      background-color: #3788c6;
      color: white;
      border: unset;
      font-size: 16px;
      font-family: 'Lato-Regular';
      text-transform: capitalize;
    }

    .input input {
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
        text-align: center;
      }
    }
  }

  .connect-block {
    padding-bottom: 50px;

    .img-block {
      margin-bottom: 5px;
    }

    .title {
      font-family: 'Lato-Bold';
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0.54;
      letter-spacing: 0.6px;
      text-align: left;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }

  .social_network_sidebar {


    li {
      display: flex;
    }

    .img-block {
      width: 60px;
      height: 54px;
      margin-right: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Lato-Semi-Bold';
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0.54;
      letter-spacing: 0.6px;
      color: white;
    }

    .text-block {
      width: 87%;
      max-width: 410px;
      min-width: 85px;
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Lato-Semi-Bold';
      font-size: 1.5em;
      font-weight: bold;
      line-height: 0.54;
      letter-spacing: 0.6px;
      color: white;
      text-transform: capitalize;
    }

    .img-block.facebook, .text-block.facebook {
      background-color: #516eab;
    }

    .img-block.twitter, .text-block.twitter {
      background-color: #44b3eb;
    }

    .img-block.google, .text-block.google {
      background-color: #d42323;
    }
  }

}

.jMwzIF {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding-bottom: 12px;
  font-family: 'Lato-Regular';
}




