<app-header></app-header>
<div class="content">
    <div class="row">
        <section class="col-md-7">
            <div class="carusel-block">
                <app-owl-carousel></app-owl-carousel>
            </div>
            <div class="news-block carusel-block">
                <div class="item">
                    <div class="text-block">
                        <div class="description">
                            <h5 class="title">
                                POLITICS, BUSINESS AND GENERAL NEWS
                            </h5>
                            <p class="text">
                                Read latest stories
                            </p>
                        </div>
                        <div class="filter">
                            <span>filters:</span>
                            <ul class="menu">
                                <li class="orange"><a href="">all</a></li>
                                <li class="yellow"><a href="">Should be in Headlines</a></li>
                                <li class="gray"><a href="">Important</a></li>
                                <li class="blue"><a href="">Interesting</a></li>
                                <li class="op-blue"><a href="">Great</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="loop_items item" *ngFor="let single of posts.news">
                        <div class="img-block">
                            <!-- <img src="../uploads/images/{{single.img}}" class="img-fluid" alt="">-->
                            <img src="{{single.extractedImage}}" class="img-fluid" alt="" (click)="getSingle()">
                            <ul class="view-icons-block">
                                <li>
                                    <a href="" class="score"> Score <span>200</span></a>
                                </li>
                                <li class="like_btn">
                                    <a class="like_post_btn">Like</a>
                                    <div class="vote_news">
                                        <ul>
                                            <li #messageEl *ngFor="let message of messages"
                                                [attr.data-message-id]="message.id" (click)="logMessageId(messageEl)">
                                                <span class="op-blue">
                                                    {{ message.text }}
                                                </span>
                                            </li>
                                            <!--<li>-->
                                            <!--<button class="op-blue" (click)="setVote()" [(ngModel)]="vote.like">Like</button>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<button class="gray" (click)="setVote()" [(ngModel)]="vote.important">-->
                                            <!--Important-->
                                            <!--</button>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<button class="blue" (click)="setVote()" [(ngModel)]="vote.interesting">-->
                                            <!--Interesting-->
                                            <!--</button>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">View
                                        <span id='views'>
                                    <span>{{single.views}}</span>
                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">Comments<span>20</span></a>
                                </li>
                                <li>
                                    <a href="">Questions<span>20</span></a>
                                </li>
                                <li>
                                    <span>
                                        <!--<fb-like></fb-like>-->
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="text-block">
                            <p>{{single.extractedDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-block">
                <ul>
                    <li *ngFor="let paginateSingle of pages">
                        <a data-id="{{paginateSingle}}" (click)="nextPage($event)">{{ paginateSingle }}</a>
                    </li>
                </ul>
            </div>
        </section>
        <app-aside class="col-md-5"></app-aside>
    </div>
</div>

<button (click)="getCookie()">Get Cookies</button>
<button (click)="setCookie()">Set Cookies</button>
<button (click)="delCookie()">Delete Cookies</button>

<app-footer></app-footer>
