<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div>
      <img class="d-block w-100" src="../../../../../assets/images/a.png" alt="first slide">
      <div class="opacity-dark">
        <div class="white">
          <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
            and typesetting industry</h5>
          <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div>
      <img class="d-block w-100" src="../../../../../assets/images/a.png" alt="first slide">
      <div class="opacity-dark">
        <div class="white">
          <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
            and typesetting industry</h5>
          <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div>
      <img class="d-block w-100" src="../../../../../assets/images/a.png" alt="first slide">
      <div class="opacity-dark">
        <div class="white">
          <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing
            and typesetting industry</h5>
          <p class="text slider">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been</p>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>

<div class="img-block">
  <ul class="view-icons-block slider_bottom_icons">
    <li>
      <a href="" class="score">Score <span>200</span></a>
    </li>
    <li class="like_btn">
      <a href="">
        Like<span>100</span>
      </a>
      <div class="vote_news">
        <ul>
          <li>
            <button class="op-blue" >Like</button>
          </li>
          <li>
            <button class="gray">Important</button>
          </li>
          <li>
            <button class="blue">Interesting</button>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="">
        View<span>20</span>
      </a>
    </li>
    <li>
      <a href="single.html">
        Comments<span>35</span>
      </a>
    </li>
    <li>
      <a href="single.html">
        Questions<span>35</span>
      </a>
    </li>
    <li>
      <a href="">Share<span></span></a>
    </li>
  </ul>
</div>

