<owl-carousel-o [options]="customOptions" [hidden]="posts && posts.news && posts.news.length == 0">


    <ng-container *ngFor="let post of posts.news">
        <ng-template carouselSlide>
            <div class="carousel_top_text">
                <h5>{{post.extractedTitle}}</h5>
                <p class="postLink">{{post.link|getUrlBase}}</p>
            </div>
            <div>
                <img class="d-block w-100" [src]="post.extractedImage" alt="first slide">
                <div class="opacity-dark">
                    <div class="white">
                        <!--                        <h5 class="title slider">{{post.extractedTitle}}</h5>-->
                        <p class="text slider">{{post.extractedDescription}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <!--  <ng-template carouselSlide>-->
    <!--    <div class="carousel_top_text">-->
    <!--      <h5>Lorem Ipsum is simply dummy text</h5>-->
    <!--      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <img class="d-block w-100" src="../../../../../assets/images/a.png" alt="first slide">-->
    <!--      <div class="opacity-dark">-->
    <!--        <div class="white">-->
    <!--          <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing-->
    <!--            and typesetting industry</h5>-->
    <!--          <p class="text slider">Lorem Ipsum is simply dummy text of the printing and-->
    <!--            typesetting industry. Lorem Ipsum has been</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </ng-template>-->
    <!--  <ng-template carouselSlide>-->
    <!--    <div class="carousel_top_text">-->
    <!--      <h5>Lorem Ipsum is simply dummy text</h5>-->
    <!--      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <img class="d-block w-100" src="../../../../../assets/images/a.png" alt="first slide">-->
    <!--      <div class="opacity-dark">-->
    <!--        <div class="white">-->
    <!--          <h5 class="title slider">Lorem Ipsum is simply dummy text of the printing-->
    <!--            and typesetting industry</h5>-->
    <!--          <p class="text slider">Lorem Ipsum is simply dummy text of the printing and-->
    <!--            typesetting industry. Lorem Ipsum has been</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </ng-template>-->
</owl-carousel-o>


