<ul class="view-icons-block">
    <li>
        <a href="" class="score">Score <span>200</span></a>
    </li>
    <li>
        <div class="box">
            <div class="Like like_btn">
                <img src="../../../../../assets/images/vote.png" alt="">

                <div class="Like__link js-hover">Votes
                    <span class="hovered_number" (mouseover)="openNum=true"
                          (mouseout)="openNum=false">100</span>
                </div>
                <div class="Emojis">
                    <div class="Emoji Emoji--like">
                        <div class="">
                            <button class="blue" (click)="vote('Like', single._id)" [class.gray]="!upwote"
                                    [hidden]="routerUrl !== '/road' && routerUrl !== '/travel' && routerUrl !== '/commerce' && routerUrl !== '/video'">
                                <i class="fas fa-check" *ngIf="isShown"></i> {{vote}}
                                <span class="num" *ngIf="openNum">20</span>
                            </button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/pictures'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Awesome
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/road'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Good
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/road'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>
                                Top Class
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/road'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>
                                Magic
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>

                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/home' && routerUrl !== '/'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i> Important
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl  !== '/home' && routerUrl !== '/'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>
                                Interesting
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl  !== '/home' && routerUrl !== '/'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>
                                Investigate
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl  !== '/home' && routerUrl !== '/'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Resign
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/pictures'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>hawt
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>

                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/pictures'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Kool
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/pictures'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Funny
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/commerce'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Promising
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/travel'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Inspring
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--haha" [hidden]="routerUrl !== '/videos'">
                        <div class="">
                            <button class="blue" (click)="onClick($event)">
                                <i class="fas fa-check" *ngIf="isShown"></i>Useful
                                <span class="num" *ngIf="openNum">50</span></button>
                        </div>
                    </div>

                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/deals'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>
                                <i class="fas fa-heart heart"></i> the colour
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/deals'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Grand
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/deals'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Creative
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/video'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Refreshing
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                    <div class="Emoji Emoji--love" [hidden]="routerUrl !== '/video'">
                        <div class="">
                            <button class="gray" (click)="onClick($event)">
                                <i class=" fas fa-check" *ngIf="isShown"></i>Useful
                                <span class="num" *ngIf="openNum">30</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="">
            View<span>20</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/home' && routerUrl !== '/' && routerUrl !== '/road' && routerUrl !== '/deals' && routerUrl !== '/video'">
        <a routerLink="" (click)="getSingle(single._id)">
            <i class="far fa-comment"></i>
            Comments<span>35</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/home' && routerUrl !== '/' && routerUrl !== '/commerce' && routerUrl !== '/travel' && routerUrl !== '/deals' && routerUrl !== '/video'">
        <a routerLink="" (click)="getSingle(single._id)">
            Questions <span>35</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/road'">
        <a routerLink="">
            Critics <span>35</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/pictures'">
        <a routerLink="">
            <i class="far fa-comment"></i> Fans <span>35</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/pictures' && routerUrl !== '/travel'">
        <a routerLink="">
            Suggestions <span>35</span>
        </a>
    </li>
    <li [hidden]="routerUrl !== '/commerce'">
        <a routerLink="">
            <i class="far fa-comment"></i> Feedback <span>35</span>
        </a>
    </li>
</ul>
