<ul class="view-icons-block">
    <li>
        <a href="" class="score">Score <span>{{postScore}}</span></a>
    </li>
    <li>
        <div class="box">
            <div class="Like like_btn">
                <img src="../../../../../assets/images/vote.png" alt="">

                <div class="Like__link js-hover">Votes
                    <span class="hovered_number" *ngIf="single"
                          (mouseout)="openNum=false">{{single.totalVotes}}</span> <!-- (mouseover)="openNum=true"-->
                </div>
                <div class="Emojis">
                    <ng-container *ngFor="let vType of voteTypes">
                        <div class="Emoji Emoji--love">
                            <div class="voteTick">

                                <i class="fas fa-check emojiTick"
                                   *ngIf="isShown && single && vType['name']=== single['votedCategory']"></i>
                            </div>
                            <div class="voteType">

                                <button class="gray"
                                        [class.selected]="single && vType['name']=== single['votedCategory']"
                                        (click)="vote(vType['name'], single)">

                                    <!--   Love symbol -->
                                    <span *ngIf="loveCase(vType['name'])"> <i class="fas fa-heart"></i></span>

                                    <!-- Love symbol + text-->
                                    <span *ngIf="showHeart(vType['name'])">
                                              <div class="love_name">
                                                     <i class="fas fa-heart"></i>{{vType['name']}}
                                             </div>

                                    </span>

                                    <!-- text -->
                                    <span *ngIf="!showHeart(vType['name']) && !loveCase(vType['name'])">{{vType['name']}}</span>
                                </button>
                            </div>
                            <!--                                <p class="num">30</p>-->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </li>
    <li *ngIf="single" class="viewsCount">
        <a href="">
            Views<span>{{single.views}}</span>
        </a>
    </li>

    <li [hidden]="hiddenComments()"
    >
        <a (click)="getSingle(single)" *ngIf="single">
            <i class="far fa-comment"></i>
            Comments<span>{{single.comments}}</span>
        </a>
    </li>
    <li [hidden]="hiddenCritics()" *ngIf="single">
        <a (click)="getSingle(single)">
            Critics <span>{{single.questions}}</span>
        </a>
    </li>
    <!--    <li [hidden]="routerUrl !== '/pictures'">-->
    <!--        <a (click)="getSingle(single)">-->
    <!--            <i class="far fa-comment"></i> Fans <span>35</span>-->
    <!--        </a>-->
    <!--    </li>-->
    <!--    <li [hidden]="routerUrl !== '/pictures' && routerUrl !== '/travel'">-->
    <!--        <a (click)="getSingle(single)">-->
    <!--            Suggestions <span>35</span>-->
    <!--        </a>-->
    <!--    </li>-->
    <li [hidden]="hiddenFeedback()" *ngIf="single">
        <a (click)="getSingle(single)">
            <i class="far fa-comment"></i> Feedback <span>{{single.comments}}</span>
        </a>
    </li>
    <li [hidden]="hiddenQuestions()">
        <a (click)="getSingle(single)" *ngIf="single">
            Questions <span>{{single.questions}}</span>
        </a>
    </li>
</ul>
