<app-header></app-header>




<div class="content">
    <ul class="sidebar_links">
        <li>
            <a href="">About</a>
        </li>
        <li>
            <a href="">Terms</a>
        </li>
        <li>
            <a href="">Privacy Policy</a>
        </li>
        <li>
            <a href="">Content policy</a>
        </li>
        <li>
            <a href="">Score</a>
        </li>
        <li>
            <a href="">Voting</a>
        </li>
        <li>
            <a href="">Advertise</a>
        </li>
    </ul>
</div>



<!--<app-footer></app-footer>-->
