.about_info {
    p{
        span{
          font-weight: bold;
        }
    }
}

.about__text .images_content {
  display: none;
}
.about_ft{
  border-top: 1.3px solid #e14040;
  padding: 20px;
  text-align: center !important;
  margin: auto;
  width: 100%;
  display: block;
  line-height: 1;
  font-size: 14px;
}
@media(max-width: 767px){
  .about___body {
    display: block;
  }
  .sidebar_links {
    display: flex;
    margin: 150px auto 0px auto;
    text-align: center;
    width: 90%;
    justify-content: inherit;
    overflow-x: scroll;
    white-space: nowrap;
  }

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar
  {
    height: 4px;
    background-color: #F5F5F5;
  }

 ::-webkit-scrollbar-thumb
  {
    background-color: #000000;
    border: 2px solid rgba(85, 85, 85, 0.56);
  }
  .sidebar_links li {
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__text {
    width: auto;
  }
  .about__content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
  }
  .images_content {
    width: auto;
    margin-top: 10px;
  }
  .about__text .images_content {
    display: flex;
    flex-direction: column;
  }
  .images_content {
    display:none;
  }
  .image_title .item1 {
    width: 100%;
  }
  .image_title {
    width: 33%;
    margin: auto;
  }
}

@media(max-width: 450px) {
  .images_content p {
    min-height: 20px;
  }
}