<app-header></app-header>


<div class="content_about_us">
    <div class="about___body">
        <mat-tab-group class="tabs_profile">
            <mat-tab label="About">
                <div class="about__text" [hidden]="!showInfo">
                    <p>About</p>
                    <div class="images_content">

                        <div class="image_title">
                            <div class="item1">
                                <p>Use common sense</p>
                                <div class="about_image">
                                    <img src="../../../../../assets/images/imgpsh_fullsize_anim2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="image_title">
                            <div class="item1">
                                <p>Apply filtering</p>
                                <div class="about_image">
                                    <img src="../../../../../assets/images/imgpsh_fullsize_anim.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="image_title">
                            <div class="item1">
                                <p>Get to know the...</p>
                                <div class="about_image">
                                    <img src="../../../../../assets/images/imgpsh_fullsize_anim3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about_info_bg">
                        <div class="about_info">
                            <p>Every day we consume a great deal of news, much of which may not be
                                particularly relevant or important to us.</p>
                            <p>We have developed a platform which creates awareness and can have a positive impact on our way of thinking. After all the betterment of human life is the sole purpose of any idea.</p>
                            <p><span>NOT THE HEADLINES </span>is an social news website where users post news links
                                and readers decide upon the headlines by voting for their favourites.</p>
                            <p> A score, based on votes, views, questions and comments, is given  to each post. The post with highest score will make it into website's headline</p>
                            <p>News which has not featured prominently in the mainstream media can
                                become the headline on the <span>NOT THE HEADLINES </span> website.</p>
                        </div>
                        <div class="images_content1">

                            <div class="image_title">
                                <div class="item1">
                                    <p>Use common sense</p>
                                    <div class="about_image">
                                        <img src="../../../../../assets/images/imgpsh_fullsize_anim2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="image_title">
                                <div class="item1">
                                    <p>Apply filtering</p>
                                    <div class="about_image">
                                        <img src="../../../../../assets/images/imgpsh_fullsize_anim.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="image_title">
                                <div class="item1">
                                    <p>Get to know the...</p>
                                    <div class="about_image">
                                        <img src="../../../../../assets/images/imgpsh_fullsize_anim3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Terms">
                <div class="about__text">
                    <p>Not The Headlines Terms of Service</p>
                    <div class="about_info">
                        <p>Hi and welcome to the Not The Headlines Terms of Service. (Please have a sit!)</p>
                        <p style="text-transform: uppercase;">PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE  </p>
                        <p>This is terms and conditions are the legal contract between you and Not The Headlines (aka “NTH”, “we”, “us”) they provide the rules relating to the use of our website and services.</p>
                        <p>It is very important that you do take your time to read our terms because it is very important if you are NTH user. By using our ser-vices you agree to be bound by all the provisions set out in NTH’s Terms of Service. Also, the law requires you are informed of your rights and obligations as set out in this rules document. </p>
                        <p>As a user if this site you are granted a nonexclusive, non transfer-able, revocable, limited license to access and use the site and its contents in accordance with this terms. We may terminate this li-cense at any time for any reason.</p>
                    </div>
                    <p>WHO WE ARE AND HOW TO CONTACT US</p>
                    <div class="about_info">
                        <p>www.nottheheadlines.com is a site operated by Not The Headlines Ltd (”We”). We are registered in England and Wales under compa-ny number 12029169 and have our registered office at Kemp House,160 City Road, London, United Kingdom,EC1V 2NX. Our main trading address is Kemp House,160 City Road, London, Unit-ed Kingdom,EC1V 2NX.</p>
                        <p>We are a vibrant social news website where users post news links and readers decide the headlines by voting. Based on voting and views a score is given to each post and the post with highest score will make it to the headlines.</p>
                        <p>To contact us, please email contact@nottheheadlines.com</p>
                    </div>

                    <p>CAN NTH CHANGE THESE TERMS OF SERVICE</p>
                    <div class="about_info">
                        <p>Yes. We can change our Terms of Service at any time. If we make material changes, we will inform you by email or by way of a notice on the site before the changes go into effect. The notice will pro-vide you a reasonable amount of time after which the new Terms of Service will become effective. If you are unhappy with the  new Terms of Service, we ask that you delete your account before the end of the notice duration. If you do not delete your account before the end of the period of notice, content you have uploaded and use of the site will be subject to the new Terms of Service from that time forward.</p>
                    </div>


                    <p>CAN NTH BLOCK OR DELETE MY CONTENT FROM NTH?</p>
                    <div class="about_info">
                        <p>Yes, we reserve the right to  remove any content you post, upload or transfer to our site and may refuse to permit the post, upload or transfer. , We may, in our sole discretion, delete or remove your post, upload or transfer at any time and for any reason, including for a violation of these Terms, or if you otherwise create liability for us. In light of this, we will work hard not to abuse this right.</p>
                    </div>



                    <p>CAN I DELETE MY OWN CONTENT FROM NTH?</p>
                    <div class="about_info">
                        <p>Yes. However, where you have created post or responded to a post that other users have in turn responded to, complete deletion may not be fair to other users. In this circumstance, you would be enabled to delete your username, name and any other identifiable information from the post. So your content will remain but it being attributable to you will not.</p>
                        <p>When you delete your account or some of your content from our site, it may take some time for our systems to remove it from public view, but worry not it will be deleted. When you hit delete, please note you would be unable to recover your content from our backup systems.</p>
                    </div>



                    <p>BY USING OUR SITE YOU ACCEPT THESE TERMS  </p>
                    <div class="about_info">
                        <p>By using our site, you confirm that you accept these terms of use and that you agree to comply with them. Please note that If you do not agree to these terms, you must not use our site. We recom-mend that you print a copy of these terms for future reference.</p>
                    </div>



                    <p>THERE ARE OTHER TERMS THAT MAY APPLY TO YOU</p>
                    <div class="about_info">
                        <p>These terms of use refer to the following additional terms, which also apply to your use of our site:
                            <br>
                            Our Privacy Policy which sets out information about the cookies on our site.   <br>
                            Our Cookie Policy which sets out information about the cookies on our site.
                        </p>
                    </div>

                    <p>WE MAY MAKE CHANGES TO THESE TERMS  </p>

                    <div class="about_info">
                        <p>We amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that apply at that time. These terms were most recently updated on 21st Aug 2019.<br>
                            <br>
                            We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.
                       <br>   <br>
                            You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.
                        </p>
                    </div>
                     <div class=terms_info">
                         <h5>YOU MUST KEEP YOUR ACCOUNT DETAILS SAFE</h5>
                          <p>
                             If you choose, or you are provided with a password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.
                             <br>
                             We have the right to disable any user password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.
                             <br>
                             If you know or suspect that anyone other than you knows your user password, you must promptly notify us at con-tact@nottheheadlines.com
                             <br>
                          </p>
                         <br><br>
                         <h5>CAN CHILDREN USE OUR SITE?</h5>

                            <p>Sadly, only users 13 years and upwards may use our site. If we learn that you are under 13 years of age, we will terminate your account. Users who can not form a binding contract or who are prohibited from using our services are not permitted to use Not The Headlines services.</p>

                         <h4>RELIANCE ON INFORMATION ON NTH SITE</h4>

                            <p>The content you will find on our site is provided for general infor-mation only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice be-fore taking, or refraining from, any action on the basis of the con-tent on our site.
                                <br>
                             Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accu-rate, complete or up to date.
                            </p>
                         <h4> WE ARE NOT RESPONSIBLE FOR WEBSITES WE LINK TO</h4>

                         <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.
<br>
                             We have no control over the contents of those sites or resources.</p>

                         <h4> USER-GENERATED CONTENT IS NOT APPROVED BY US</h4>

                             <p>This website may include information and materials uploaded by other users of the site, including to bulletin boards and chat rooms. This information and these materials have not been verified or ap-proved by us. The views expressed by other users on our site do not represent our views or values.</p>

                            <h4>WHAT TO DO IF YOU ARE UNHAPPY ABOUT CONTENT ANOTHER USER HAS POSTED?</h4>

                             <p>We know you might not always like other users content or might find certain content offensive. If you wish to complain about con-tent uploaded by other users please contact us on con-tact@nottheheadlines.com</p>

                         <h5>WHAT IS OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU?</h5>

                            <p>The material displayed on our site is provided without any guaran-tees, conditions or warranties as to its accuracy.
                             We do not warrant that the site, its content or the server that makes it available are error or virus free or free of other harmful components or that your use of this website will be uninterrupted.
                             To the extent permitted by law, we, other members of our group companies and any third parties connected to us, hereby expressly exclude:
                            </p>
                         <ul>
                             <li>•	All conditions, warranties and other terms which might other-wise be implied by statute, common law or the law of equity.</li>
                             <li> •	Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for loss of in-come or revenue, loss of business, loss of profits or contracts, loss of anticipated savings, loss of data, loss of goodwill, wasted management or office time and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.</li>
                         </ul>


                            <p> This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresenta-tion, nor any other liability which cannot be excluded or limited un-der applicable law. In such cases, our liability will be limited to the fullest extent permitted by applicable law.
                             You agree to defend and indemnify and hold NTH , its affiliates, and sublicensees, harmless from and against all third party claims and all liabilities, losses, costs, or damages resulting from or aris-ing out of (a) your breach of this Agreement; (b) your infringement of the rights of a third party, or (c) the content you post on NTH.
                            </p>

                            <h5>WHAT HAPPENS TO YOUR PERSONAL INFORMATION?</h5>

                         <p>We will only use your personal information as set out in our LINK TO PRIVACY POLICY.</p>


                         <h5>UPLOADING YOUR CONTENT TO OUR SITE</h5>

                             <p>As part of your usage of our site you will post content from time to time, whenever you make use of a feature that allows you to up-load content to our site, or to make contact with other users of our site, you must comply with the content standards set out in our Content Policy.
<br>
                             You agree that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer because of something you have upload-ed.
                             <br>

                             We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.
<br>
                             We have the right to remove any posting you make on our site if, in our opinion, your post does not comply with the content standards set out in our Content Policy. We do not store or permit content that is offensive to other users or the general public.
                             </p>
                         <h5>WHO OWNS THE CONTENT I POST AND UPLOAD TO NTH?</h5>

                             <p>You own contents you post! When you post a comment or image or write or submit something on NTH, you own that content, as far as we’re concerned. NTH doesn’t claim any ownership of your con-tent.
                             Since it’s yours, we need your permission to use your content. When you upload or post content to our site, you grant us the rights to use that content as needed to provide NTH services. In-cluding, without limitations, actions like storing, displaying, repro-ducing, and distributing your content. Since NTH Services are pub-lic, you are also agreeing that other NTH users will be able to see, use and/or repost it. Your agreement to the use your content con-tinues even when you stop using NTH or We terminate your ac-count. Also, we can use your content on others sites and services to promote NTH Services or to boost awareness of your content it-self.
<br>
                             Only upload, post or transfer things that you have the right to up-load, post or transfer e.g a piece of your own writing, link to a web article or news story or video. NTH respects the intellectual proper-ty of other parties and requires that users of the NTH site do so as well. By uploading, posting and transferring content to NTH you represent and warrant that you have the right to do so and permit us to use the content uploaded, posted and/or transferred.
<br>
                             NTH will not sell your content or data to anyone without your ex-plicit permission. Also, NTH retains its intellectual property includ-ing copyright, designs and know how and all other applicable rights in the content that we post on NTH including NTH’s design and logo and all use of the NTH logo and all goodwill arising out of such use, will inure to our benefit.

                             </p>
                         <h4>WE ARE NOT RESPONSIBLE FOR VIRUSES AND YOU MUST NOT INTRODUCE THEM</h4>

                             <p>We do not guarantee that our site will be secure or free from bugs or viruses.
<br>
                             You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.
<br>
                             You must not misuse our site by knowingly introducing viruses, tro-jans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will re-port any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.

                             </p>
                         <h4>RULES ABOUT LINKING TO OUR SITE</h4>

                             <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take ad-vantage of it.
                                 <br>
                             You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
                                 <br>
                             You must not establish a link to our site in any website that is not owned by you.
                                 <br>
                             Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.
                                 <br>
                             We reserve the right to withdraw linking permission without notice.
                                 <br>
                             The website in which you are linking must comply in all respects with the content standards set out in our Content Policy.
                                 <br>
                             If you wish to link to or make any use of content on our site other than that set out above, please contact con-tact@nottheheadlines.com
                             </p>

                         <h4>WHICH COUNTRY’S LAWS APPLY TO ANY DISPUTES?</h4>

                             <p>Please note that these terms of use, their subject matter and their formation, are governed by English law. You and we both agree that the courts of England will have exclusive jurisdic-tion.</p>
                     </div>
                </div>
            </mat-tab>
            <mat-tab label="Privacy Policy">
                <div class="pr_pol_info">
                    <p>NotTheHeadlines (We) takes your privacy very seriously. Please read this privacy policy carefully as it contains important information on who we are and how and why we collect, store, use and share your personal information. It also explains your rights in relation to your personal information and how to contact us or supervisory authorities in the event you have a complaint.</p>
                    <p>We collect, use and are responsible for certain personal information about you. When we do so we are sub-ject to the General Data Protection Regulation, which applies across the European Union (including in the United Kingdom) and we are responsible as ‘controller’ of that personal information for the purposes of those laws.</p>

                    <h5>Key terms</h5>

                    <div class="pr_pol_table">
                        <p>It would be helpful to start by explaining some key terms used in this policy:</p>
                        <table>
                            <tr>
                                <td>We, us, our</td>
                                <td>Any information relating to an identified or identifia-ble individual</td>
                            </tr>
                            <tr>
                                <td>[NotTheHeadlines and our group companies]</td>
                                <td>Personal information</td>
                            </tr>
                        </table>
                    </div>
                    <br><br><br>
                    <h5>Personal information we collect about you</h5>
                        <p>We may collect and use the following personal information about you:</p>
                      <ul>
                          <li>• 	your name and email address</li>
                          <li>• 	Sign-In information – when you create an account or login using your facebook credentials such as your username and/or email address of that Service. You agree that this information may be personal and by creating an account with Not The Headlines and providing us your personal information you allow us identify you and therefore waive your anonymity.</li>
                          <li>• 	Content you submit to or share on the Not The Headlines site, we will also store the time and date on which the content was first submitted, information on the channels through which the content was shared e.g. Twitter followers and/or Facebook friends.</li>
                          <li>• 	Metrics and analytics</li>
                      </ul>
                    <p>This personal information is required to provide services to you. If you do not provide personal information we ask for, it may delay or prevent us from providing services to you.</p>
                    <br><br><br>
                    <h5>How your personal information is collected</h5>
                    <p>We collect most of this personal information directly from you via our website. However, we may also col-lect information: </p>
                    <ul>
                        <li>• 	from cookies on our website—for more information on our use of cookies, please see our cookie policy</li>
                    </ul>

                    <br><br><br>

                    <h5>How and why we use your personal information</h5>
                    <p>Under data protection law, we can only use your personal information if we have a proper reason for doing so, eg:</p>
                    <ul>
                        <li>• 	to comply with our legal and regulatory obligations;</li>
                        <li>• 	for the performance of our contract with you or to take steps at your request before entering into a contract;</li>
                        <li>• 	for our legitimate interests or those of a third party; or</li>
                        <li>• 	where you have given consent.</li>
                    </ul>
                    <p>A legitimate interest is when we have a business or commercial reason to use your information, so long as this is not overridden by your own rights and interests.</p>

                    <p>
                        The table below explains what we use (process) your personal information for and our reasons for doing so:
                    </p>
                    <div class="pr_pol_table">
                    <table>
                        <tr>
                            <td>What we use your personal information for</td>
                            <td>Our reasons</td>
                        </tr>
                        <tr>
                            <td>To provide services to you</td>
                            <td> For the performance of our contract with you or to take steps at your request before entering into a contract</td>
                        </tr>
                        <tr>
                            <td>Gathering and providing information required by or relating to audits, enquiries or investigations by reg-ulatory bodies</td>
                            <td>To comply with our legal and regulatory obligations</td>
                        </tr>
                        <tr>
                            <td>Ensuring business policies are adhered to, eg poli-cies covering security and internet use</td>
                            <td>For our legitimate interests or those of a third party, ie to make sure we are following our own internal procedures so we can deliver the best service to you</td>
                        </tr>
                        <tr>
                            <td>Statistical analysis to help us manage our business, eg in relation to [our financial performance, custom-er base, product range or other efficiency measures]</td>
                            <td>For our legitimate interests or those of a third party, ie to be as efficient as we can so we can deliver the best service for you at the best price</td>
                       </tr>
                        <tr>
                            <td>Ensuring safe working practices, staff administration and assessments</td>
                            <td>To comply with our legal and regulatory obligations
                                For our legitimate interests or those of a third party, eg to make sure we are following our own internal procedures and working efficiently so we can deliver the best service to you
                            </td>
                        </tr>


                        <tr>
                            <td>External audits and quality checks, eg for ISO or Investors in People accreditation and the audit of our accounts</td>
                            <td>For our legitimate interests or a those of a third par-ty, ie to maintain our accreditations so we can demonstrate we operate at the highest standards
                                To comply with our legal and regulatory obligations
                            </td>
                        </tr>
                    </table>

                    </div>

                    <p>The above table does not apply to special category personal information, which we will only process with your explicit consent.</p>


                    <br>
                    <br>
                    <br>
                    <h5>Promotional communications</h5>
                    <p>We may use your personal information to send you updates (by email, text message, telephone or post) about our services, including new services.</p>
                    <p>We have a legitimate interest in processing your personal information for promotional purposes (see above ‘How and why we use your personal information’). This means we do not usually need your consent to send you promotional communications. However, where consent is needed, we will ask for this consent separately and clearly.</p>
                    <p>We will always treat your personal information with the utmost respect and never share it with other organisa-tions outside the Not The Headline group for marketing purposes.</p>
                    <p>You have the right to opt out of receiving promotional communications at any time by:</p>
                    <p>contacting us at  <a>contact@nottheheadlines.com</a></p>

                    <br>
                    <p>We may ask you to confirm or update your marketing preferences if you instruct us to provide further ser-vices in the future, or if there are changes in the law, regulation, or the structure of our business.</p>

                    <br>
                    <br>
                    <br>
                    <h5>Who we share your personal information with</h5>
                    <p>We routinely share personal information with:</p>
                    <ul>
                        <li>• 	Google analytics</li>
                        <li>• 	other third parties we use to help us run our business, eg marketing agencies or website hosts;</li>
                        <li>• 	third parties approved by you, eg social media sites you choose to link your account to or third party payment providers;</li>
                    </ul>
                    <p>
                        We only allow our service providers to handle your personal information if we are satisfied they take appro-priate measures to protect your personal information. We also impose contractual obligations on service providers relating to ensure they can only use your personal information to provide services to us and to you. We may also share personal information with external auditors, eg in relation to ISO[ or Investors in People] accreditation and the audit of our accounts.
                        <br><br>
                        We may disclose and exchange information with law enforcement agencies and regulatory bodies to comply with our legal and regulatory obligations.
                        <br> <br>
                        We may also need to share some personal information with other parties, such as potential buyers of some or all of our business or during a re-structuring. Usually, information will be anonymised but this may not always be possible. The recipient of the information will be bound by confidentiality obligations.
                        <br>
                        <br>
                        [We will not share your personal information with any other third party.]
                    </p>
                    <strong>
                        Where your personal information is held
                    </strong>
                    <p>Information may be held at our offices, third party agencies, service providers, representatives and agents as described above (see above: <strong>‘Who we share your personal information with’</strong>).</p>
                    <p>Some of these third parties may be based outside the European Economic Area. For more information, in-cluding on how we safeguard your personal information when this occurs, see below:  <strong>‘Transferring your personal information out of the EEA’.</strong></p>
                     <br>
                    <br>
                    <br>
                    <h5>How long your personal information will be kept</h5>
                    <p>We will keep your personal information while you have an account with us or we are providing services to you. Thereafter, we will keep your personal information for as long as is necessary:</p>
                    <ul>
                        <li>• 	to respond to any questions, complaints or claims made by you or on your behalf;</li>
                        <li>• 	to show that we treated you fairly;</li>
                        <li>• 	to keep records required by law.</li>
                    </ul>
                    <p>We will not retain your personal information for longer than necessary for the purposes set out in this policy. Different retention periods apply for different types of personal information.
                    <br>
                        When it is no longer necessary to retain your personal information, we will delete or anonymise it.
                    </p>
                    <br><br><br>
                    <h5>Transferring your personal information out of the EEA</h5>
                    <p>To deliver services to you, it is sometimes necessary for us to share your personal information outside the European Economic Area (EEA), eg:</p>
                    <ul>
                        <li>• 	with our offices outside the EEA;</li>
                        <li>• 	with your and our service providers located outside the EEA;</li>
                        <li>• 	if you are based outside the EEA;</li>
                        <li>• 	where there is an international dimension to the services we are providing to you.</li>
                    </ul>
                    <p>
                        These transfers are subject to special rules under European and UK data protection law<br>
                        The following countries to which we may transfer personal information have been assessed by the European Commission as providing an adequate level of protection for personal information: [USA and India].<br>
                        Except for the countries listed above, these non-EEA countries do not have the same data protection laws as the United Kingdom and EEA. We will, however, ensure the transfer complies with data protection law and all personal information will be secure. Our standard practice is to use standard data protection contract clauses that have been approved by the European Commission. To obtain a copy of those clauses [insert details of where they have been made available (where possible providing a link to the mechanism or infor-mation].<br>
                        If you would like further information please contact us, see ‘How to contact us’ below.
                    </p>
                    <br><br>
                    <h5>Your rights</h5>
                    <p>You have the following rights, which you can exercise free of charge:</p>
                    <div class="pr_pol_table">
                        <table>
                            <tr>
                                <td>Access</td>
                                <td>The right to be provided with a copy of your per-sonal information (the right of access)</td>
                            </tr>
                            <tr>
                                <td>Rectification</td>
                                <td>The right to require us to correct any mistakes in your personal information</td>
                            </tr>
                            <tr>
                                <td>To be forgotten</td>
                                <td>The right to require us to delete your personal infor-mation—in certain situations</td>
                            </tr>
                            <tr>
                                <td>Restriction of processing</td>
                                <td>The right to require us to restrict processing of your personal information—in certain circumstances, eg if you contest the accuracy of the data</td>
                            </tr>
                            <tr>
                                <td>Data portability</td>
                                <td>The right to receive the personal information you provided to us, in a structured, commonly used and machine-readable format and/or transmit that data to a third party—in certain situations</td>
                            </tr>
                            <tr>
                                <td>To object</td>
                                <td>The right to object:
                                    —at any time to your personal information being processed for direct marketing (including profiling);
                                    —in certain other situations to our continued processing of your personal information, eg processing carried out for the purpose of our legitimate interests
                                </td>
                            </tr>


                            <tr>
                                <td>Not to be subject to automated individual decision making</td>
                                <td>The right not to be subject to a decision based sole-ly on automated processing (including profiling) that produces legal effects concerning you or similarly significantly affects you</td>
                            </tr>
                        </table>
                    </div>

                        <p>For further information on each of those rights, including the circumstances in which they apply, please con-tact us or see the <a>Guidance from the UK Information Commissioner’s Office (ICO) on individuals’ rights un-der the General Data Protection Regulation.</a></p>

                        <p>If you would like to exercise any of those rights, please:</p>
                        <ul>
                            <li>• 	complete a data subject request form— Please email us, or write to us we will the send form see below: ‘How to contact us’; and</li>
                            <li>• 	let us have enough information to identify you e.g. your full name, address and customer or matter reference number;</li>
                            <li>• 	let us have proof of your identity and address (a copy of your driving license or passport and a recent utility or credit card bill); and</li>
                            <li>• 	let us know what right you want to exercise and the information to which your request relates.</li>
                        </ul>
                        <br><br>
                        <h5>Keeping your personal information secure</h5>
                        <p>We have appropriate security measures to prevent personal information from being accidentally lost, or used or accessed unlawfully. We limit access to your personal information to those who have a genuine business need to access it. Those processing your information will do so only in an authorised manner and are subject to a duty of confidentiality. We continually test our systems and are ISO 27001 certified, which means we follow top industry standards for information security.<br>
                            We also have procedures in place to deal with any suspected data security breach. We will notify you and any applicable regulator of a suspected data security breach where we are legally required to do so.<br>
                            [Insert details of any specific security measure that you wish to mention to reassure data subjects, eg encryp-tion technologies (this is purely optional).]<br>
                            If you want detailed information from Get Safe Online on how to protect your information and your comput-ers and devices against fraud, identity theft, viruses and many other online problems, please visit <a>www.getsafeonline.org</a>. Get Safe Online is supported by HM Government and leading businesses.
                        </p>

                        <br><br>
                        <h5>How to complain</h5>
                        <p>We hope that can resolve any query or concern you may raise about our use of your information.<br>
                            The <a>General Data Protection Regulation</a> also gives you right to lodge a complaint with a supervisory authori-ty, in particular in the European Union (or European Economic Area) state where you work, normally live or where any alleged infringement of data protection laws occurred. The supervisory authority in the UK is the Information Commissioner who may be contacted at <a>https://ico.org.uk/concerns</a> or telephone: 0303 123 1113.
                        </p>
                         <br><br>
                        <h5>Changes to this privacy policy</h5>
                        <p>This privacy notice was published on 28/08/2019 and last updated on 28/08/2019.<br>
                            We may change this privacy notice from time to time—when we do we will inform you via  website or email.
                        </p>
                        <br><br>
                        <h5>How to contact us</h5>
                        <p>Please contact us by email if you have any questions about this privacy policy or the information we hold about you.<br>
                            Our contact details are shown below:
                        </p>
                        <div class="pr_pol_table">
                            <table>
                                <tr>
                                    <td>
                                        <h6>Our contact details</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kemp House,160 City Road, London, United Kingdom,EC1V 2NX<br>contact@nottheheadlines.com</td>
                                </tr>
                            </table>
                        </div>
                        <br><br><br> <br>
                    </div>


            </mat-tab>
            <mat-tab label="Content policy">

            </mat-tab>
            <mat-tab label="Score">

            </mat-tab>


            <mat-tab label="Advertise">

            </mat-tab>
        </mat-tab-group>
    </div>


</div>

<span class="about_ft">© 2019 Not the Headlines Ltd, All rights reserved</span>

<!--<app-footer></app-footer>-->



<!--<mat-tab-group class="tabs_profile">-->
    <!--<mat-tab label="Change Name and Email">-->


    <!--</mat-tab>-->
    <!--<mat-tab label=Terms">-->


    <!--</mat-tab>-->

<!--</mat-tab-group>-->
