<app-header></app-header>


<div class="content">
    <ul class="sidebar_links">
        <li class="about__text">
            <p (click)="toggleInfo()">About</p>
            <div class="about_info" [hidden]="!showInfo">
                <p>Every day we consume a great deal of news, much of which may not be
                    particularly relevant or important to us.</p>
                <p>We have developed a platform which creates awareness and can have a positive impact on our way of thinking. After all the betterment of human life is the sole purpose of any idea.</p>
                <p>NOT THE HEADLINES is an social news website where users post news links
                    and readers decide upon the headlines by voting for their favourites.</p>
                <p> A score, based on votes, views, questions and comments, is given  to each post. The post with highest score will make it into website's headline</p>
                <p>News which has not featured prominently in the mainstream media can
                    become the headline on the NOT THE HEADLINES website.</p>
            </div>
        </li>
        <li>
            <a href="">Terms</a>
        </li>
        <li>
            <a href="">Privacy Policy</a>
        </li>
        <li>
            <a href="">Content policy</a>
        </li>
        <li>
            <a href="">Score</a>
        </li>
        <li>
            <a href="">Voting</a>
        </li>
        <li>
            <a href="">Advertise</a>
        </li>
    </ul>
</div>

<script>
    $('.about__text p').click(function() {
        $(this).addClass('open_info');
    });
</script>

<!--<app-footer></app-footer>-->



