<app-header></app-header>


<div class="content">
    <div class="about___body">
    <ul class="sidebar_links">
        <li class="about__text">
            <p (click)="toggleInfo()">About</p>
        </li>
        <li>
            <a href="">Terms</a>
        </li>
        <li>
            <a href="">Privacy Policy</a>
        </li>
        <li>
            <a href="">Content policy</a>
        </li>
        <li>
            <a href="">Score</a>
        </li>
        <!--<li>-->
            <!--<a href="">Voting</a>-->
        <!--</li>-->
        <li>
            <a href="">Advertise</a>
        </li>
    </ul>

    <div class="about__content">
        <div class="about__text" [hidden]="!showInfo">
            <p>About</p>
            <div class="images_content">

            <div class="image_title">
                <div class="item1">
                    <p>Use common sense</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image_title">
                <div class="item1">
                    <p>Apply filtering</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim.png" alt="">
                    </div>
                </div>
            </div>

            <div class="image_title">
                <div class="item1">
                    <p>Get to know the...</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

            <div class="about_info">
                <p>Every day we consume a great deal of news, much of which may not be
                    particularly relevant or important to us.</p>
                <p>We have developed a platform which creates awareness and can have a positive impact on our way of thinking. After all the betterment of human life is the sole purpose of any idea.</p>
                <p><span>NOT THE HEADLINES </span>is an social news website where users post news links
                    and readers decide upon the headlines by voting for their favourites.</p>
                <p> A score, based on votes, views, questions and comments, is given  to each post. The post with highest score will make it into website's headline</p>
                <p>News which has not featured prominently in the mainstream media can
                    become the headline on the <span>NOT THE HEADLINES </span> website.</p>
            </div>
        </div>
    </div>
        <div class="images_content">

            <div class="image_title">
                <div class="item1">
                    <p>Avoid too much consumption</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim.png" alt="">
                    </div>
                </div>
            </div>
            <div class="image_title">
                <div class="item1">
                    <p>Use common sense</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image_title">
                <div class="item1">
                    <p>Get to know the...</p>
                    <div class="about_image">
                        <img src="../../../../../assets/images/imgpsh_fullsize_anim3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span class="about_ft">© 2019 Not the Headlines Ltd, All rights reserved</span>

<!--<app-footer></app-footer>-->



