/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import "~primeng/resources/primeng.min.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~@ngx-share/button/themes/default/default-theme';
@import "~@ngx-share/button/themes/modern/modern-dark-theme";

@font-face {
  font-family: 'latoRegular';
  src: url('/assets/fonts/LATO-REGULAR.TTF');
}

@font-face {
  font-family: 'latoLight';
  src: url('/assets/fonts/LATO-LIGHT.TTF');
}

@font-face {
  font-family: 'latoBlack';
  src: url('/assets/fonts/LATO-BLACK.TTF');
}

@font-face {
  font-family: 'latoBold';
  src: url('/assets/fonts/LATO-BOLD.TTF');
}

@font-face {
  font-family: 'latoSemiBold';
  src: url('/assets/fonts/LATO-SEMIBOLD.TTF');
}

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'BrandonText-Regular';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Regular.otf");
}

@font-face {
  font-family: 'BrandonText-RegularItalic';
  src: url("/assets/fonts/HVD Fonts - BrandonText-RegularItalic.otf");
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Bold.otf");
}


* {
  text-decoration: none;
}


.filter ul li button {
  background: unset;
  border: unset;
  color: white;
}

.modal-body .mat-input-element {
  height: 47px;
  border: solid 1px #959595;
  background-color: #ffffff;
  width: 100%;
  /* margin: 0 auto 24px; */
  padding: 0 20px;
}

.cdk-overlay-container {
  z-index: 999999;
}

.vote_news {
  position: absolute;
  top: -50px;
  left: 10px;
  background: white;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  opacity: 0;
  transition: 1000ms;
}

.like_btn:hover .vote_news {
  opacity: 1;
  transition: 1000ms;
}

.like_btn {
  position: relative;
  cursor: pointer;
  color: #3788c6;
}

.vote_news ul {
  display: flex;
}

.vote_news button {
  width: auto;
  padding: 0 20px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  border-radius: 20px;
  font-family: 'latoRegular', sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}

body {
  width: 100%;
  font-size: 14px;
  letter-spacing: 3px;
  margin: unset;
  background: #eeeeee !important;
}

span, p {
  font-family: 'latoRegular', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.4px;
  text-align: left;
  //color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

a:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'latoBlack', sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.content {
  width: 87%;
  margin: 300px auto 0;
}

.mat-dialog-container {
  background: unset !important;
  color: unset !important;
  box-shadow: unset !important;
  border: unset !important;
}

.mat-dialog-content {
  max-height: unset !important;
}

ul {
  list-style-type: none;
  padding: unset;
}


.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8em;
  line-height: 1.58;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 50px;
}

.pagination-block .active {
  color: red;
  border: none;
}

.pagination-block ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-block ul li {
  margin-right: 15px;
}

.main {
  padding-bottom: 100px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 10;
  padding: 50px;
  color: #fff;
  text-align: left;
}

.title.slider {
  font-family: 'latoBlack', sans-serif;
  font-size: 1.85em;
  font-weight: 900;
  line-height: 1.85;
  letter-spacing: 2.1px;
  text-align: justify;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text.slider {
  font-family: 'latoLight', sans-serif;
  font-size: 1.28em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1.4px;
  text-align: justify;
  color: #ffffff;
}

.carusel-block {
  margin-bottom: 45px;
}

.carusel-block .text-block .description {
  margin: 40px 0 25px;
  padding-left: 20px;
  border-left: 1px solid #e14040;
}

.carusel-block .text-block .title {
  font-family: 'latoBlack', sans-serif;
  font-size: 2.14em;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carusel-block .text-block .text {
  font-family: 'latoLight', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.carusel-block .text-block .filter {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.carusel-block .text-block .filter span {
  font-family: 'latoRegular';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: capitalize;
  color: #000000;
  margin-right: 30px;
}

.commerce_filters {
  width: auto;
}

.filter .menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: unset;
  width: 100%;
}

.filter .menu li {
  width: 111px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.filter .menu li a {
  font-family: 'latoRegular', sans-serif;
  font-size: 1.28em;
  font-weight: bold;
  line-height: 0.72;
  letter-spacing: 0.5px;
  color: #ffffff;
  display: block;
  text-align: center;
  width: 100%;
}

.orange {
  background-color: #ed7d31;
}

.yellow {
  background-color: #ffc000;
}

.gray {
  background-color: #a5a5a5;
}

.op-orange {
  background-color: #f5b398;
}

.op-blue {
  background-color: #95a7d8;
}

.blue {
  background-color: #4472c4;
}

.purple {
  background-color: #95a7d8;
}

.news-block .item {
  margin-bottom: 50px;
}

.news-block .item .text-block {
  margin-bottom: 25px;
}

.view-icons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  text-transform: capitalize;
}

.view-icons-block a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
  font-family: "latoBold";
}

.view-icons-block i {
  margin-right: 10px;
}

.view-icons-block li a.score {
  color: #3788c6;
}

.view-icons-block li span {
  margin-left: 10px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset css end*/

body {
  width: 100%;
  font-size: 14px;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

a:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'latoBlack', sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.whtie {
  color: white;
}

.opacity-dark {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin: 0 auto;
  padding: 0 50px 50px;
}

/*home page start*/


/*header start*/

header {
  margin-bottom: 100px;
}

.navbar {
  position: relative;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.2em;
  font-family: 'latoRegular', sans-serif;
}

.logo a {
  text-transform: uppercase;
}


.logo p {
  font-family: 'BrandonText-RegularItalic';
  font-size: 17px;
}

.logo p span {
  font-family: 'BrandonText-RegularItalic';
  font-size: 17px;
}


.menu .burger {
  display: none;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2em;
  font-family: 'latoRegular', sans-serif;
}

.menu ul li {
  padding: 5px 0;
}

.menu .post {
  padding: 10px 40px;
  background-color: #3788c6;
}

.menu .login {
  padding: 10px 40px;
  background-color: #e14040;
}

.navbar .menu {
  width: 80%;
}

/*header end*/

/*main section start*/

.main {
  padding-bottom: 100px;
  margin-top: 280px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 10;
  padding: 50px;
  color: #fff;
  text-align: left;
}

.title.slider {
  font-family: 'latoBlack', sans-serif;
  font-size: 1.85em;
  font-weight: 900;
  line-height: 1.85;
  letter-spacing: 2.1px;
  text-align: justify;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text.slider {
  font-family: 'latoLight', sans-serif;
  font-size: 1.28em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1.4px;
  text-align: justify;
  color: #ffffff;
}

.carusel-block {
  margin-bottom: 45px;
}

.carusel-block .text-block .description {
  margin: 40px 0 25px;
  padding-left: 20px;
  border-left: 1px solid #e14040;
}

.carusel-block .text-block .title {
  font-family: 'latoBlack', sans-serif;
  font-size: 2.14em;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carusel-block .text-block .text {
  font-family: 'latoLight', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.carusel-block .text-block .filter {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.carusel-block .text-block .filter span {
  font-family: 'latoRegular';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: capitalize;
  color: #000000;
  margin-right: 15px;
}

.filter .menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: unset;
}

.filter .menu li {
  width: auto;
  padding: 0 20px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  border-radius: 20px;
}

.filter .menu li a {
  font-family: 'latoRegular', sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  display: block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.orange {
  background-color: #ed7d31;
}

.yellow {
  background-color: #ffc000;
}

.gray {
  background-color: #a5a5a5;
}

.op-orange {
  background-color: #f5b398;
}

.op-blue {
  background-color: #95a7d8;
}

.blue {
  background-color: #4472c4;
}

.purple {
  background-color: #95a7d8;
}

.news-block .item {
  margin-bottom: 50px;
}

.news-block .item .text-block {
  margin-bottom: 25px;
}

.posts_box .mat-form-field-hide-placeholder .mat-select-placeholder {
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: none;
  display: block;
  height: 40px !important;
}

.posts_box .mat-form-field-infix {
  width: 240px !important;
  border: 1px solid #999999 !important;
  height: 39px;
  background-color: #ffffff;
  font-family: "latoRegular";
  font-size: 20.5px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000000;
}

.posts_box mat-form-field {
  margin-top: 25px;
}

.view-icons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  text-transform: capitalize;
}

.view-icons-block a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-icons-block img {
  margin-right: 10px;
}

.share_btn:hover .vote_news {
  opacity: 1;
  transition: 1000ms;
  top: -60px;
  width: 500px;
  z-index: 9999;
}

.share_btn .vote_news {
  top: -60px;
  width: 500px;
  z-index: 9999;
}

.pagination-block {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8em;
  line-height: 1.58;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 50px;
}

.pagination-block .active {
  color: red;
  border: none;
}

.pagination-block ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*main section end*/

.sidebar {
  background-color: #fff;
  border: solid 1px #959595;
  padding: 40px 40px 0;
}

.top-news {
  padding-bottom: 50px;
}

.top-news h4.title {
  font-family: 'latoRegular';
  font-size: 1.57em;
  letter-spacing: 1.8px;
  text-align: left;
  color: #000000;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.top-news .img-block {
  width: 39%;
  /*height: 90px;*/
  margin-right: 4%;
}

.top-news .text-block {
  width: 57%;
}

.top-news .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.top-news .text-block .title {
  margin-bottom: 20px;
  font-family: 'latoSemiBold';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #000000;
}

.top-news .text-block .description {
  margin-bottom: 10px;
  font-family: 'latoRegular';
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #000000;
}

.top-news .text-block .date {
  font-family: 'latoLight';
  font-weight: 300;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.45;
  letter-spacing: 0.9px;
  text-align: left;
  color: #7c7c7c;
}

.top-news .show-more {
  font-family: 'latoSemiBold';
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.79;
  letter-spacing: 1.4px;
  text-align: center;
}

.live-block .img-block img {
  width: 100%;
}

.newsletters-block {
  text-align: center;
  padding-bottom: 50px;
}

.newsletters-block .title {
  text-transform: uppercase;
  font-size: 1.71em;
  letter-spacing: 1.9px;
  margin-bottom: 20px;
}

.newsletters-block .text {
  font-family: 'latoRegular';
  font-size: 14px;
  letter-spacing: 1.1px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #000000;
}

.newsletters-block .input input {
  width: 84%;
  max-width: 395px;
  min-width: 140px;
  height: 2.28em;
  opacity: 0.25;
  border-radius: 10px;
  background-color: #959595;
  margin-bottom: 20px;
}

.newsletters-block .button {
  width: 39%;
  max-width: 167px;
  min-width: 120px;
  height: 32px;
  border-radius: 10px;
  background-color: #3788c6;
  color: white;
  border: unset;
  font-size: 16px;
  font-family: 'latoRegular';
  text-transform: capitalize;
}

.newsletters-block .input input::-webkit-input-placeholder {
  text-align: center;
}

.newsletters-block .input input::-moz-placeholder {
  text-align: center;
}

.newsletters-block .input input:-ms-input-placeholder {
  text-align: center;
}

.newsletters-block .input input:-moz-placeholder {
  text-align: center;
}

.connect-block {
  /*margin-bottom: 50px;*/
  padding-bottom: 50px;
}

.connect-block .img-block {
  margin-bottom: 5px;
}

.connect-block .title {
  font-family: 'latoBold';
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.54;
  letter-spacing: 0.6px;
  text-align: left;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.social_network_sidebar li {
  display: flex;
}

.social_network_sidebar .img-block {
  width: 60px;
  height: 54px;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'latoSemiBold';
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.54;
  letter-spacing: 0.6px;
  color: white;
}

.social_network_sidebar .text-block {
  width: 87%;
  max-width: 410px;
  min-width: 85px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'latoSemiBold';
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.54;
  letter-spacing: 0.6px;
  color: white;
  text-transform: capitalize;
}

.social_network_sidebar .img-block.facebook {
  background-color: #516eab;
}

.social_network_sidebar .text-block.facebook {
  background-color: #516eab;
}

.social_network_sidebar .img-block.twitter {
  background-color: #44b3eb;
}

.social_network_sidebar .text-block.twitter {
  background-color: #44b3eb;
}

.social_network_sidebar .img-block.google {
  background-color: #d42323;
}

.social_network_sidebar .text-block.google {
  background-color: #d42323;
}


/*footer*/

.footer {
  padding: 50px 0 25px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

.footer .logo {
  font-family: 'latoBold';
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.social-block {
  margin: 40px auto 50px;
  width: 20%;
  max-width: 125px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
}

.copyright-block {
  border-top: 1px solid #e1e1e1;
  margin-top: 17px;
}

.copyright-block span {
  margin-top: 17px;
  display: block;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fefefe;
}

a:hover {
  color: unset;
}

.deals_filter {
  width: 80%;
}

.pic_filter {
  width: 93%;
}

/*my styles*/

.video_block {
  position: relative;
}

.video_block .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.video_block .play img {
  width: 60px;
  height: 50px;
}

.switch {
  position: relative;
  margin: 0 auto 40px;
  background: #3788c6;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #3788c6;
  color: white;
  height: 46px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  height: 100%;
  font-size: 22px;
  font-family: 'latoRegular';
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: unset !important;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  height: 100%;
  color: black;
  padding: 10px 40px;
  background-color: #fff;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  padding: 10px 40px;
  background-color: #3788c6;
  left: 50%;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 0;
  width: 48%;
  height: 86%;
  margin: 0 9px;
  border-radius: 3px;
  padding: 10px 40px;
  background-color: #3788c6;
  background-image: -webkit-linear-gradient(top, #ffffff, #3788c6);
  background-image: -moz-linear-gradient(top, #ffffff, #3788c6);
  background-image: -o-linear-gradient(top, #ffffff, #3788c6);
  background-image: linear-gradient(to bottom, #ffffff, #3788c6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

.carousel-control-prev-icon {
  background-image: url('assets/images/back.svg');
  width: 120px;
  height: 50px;
}

.carousel-control-next-icon {
  background-image: url('assets/images/back.svg');
  width: 120px;
  height: 50px;
  transform: rotate(180deg);
}

.about_us_block h3 {
  font-family: 'latoRegular';
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.about_us_block p {
  font-family: 'latoRegular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: justify;
  color: #000000;
}

/*single post*/

.single_blog_post .post_title_and_desc h3 {
  font-family: 'latoSemiBold';
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: left;
  color: #000000;
}

.single_blog_post {
  border: solid 1px #959595;
  background-color: #ffffff;
  padding: 20px 30px;
}

.post_title_and_desc .blog_post_text {
  opacity: 0.83;
  font-family: 'latoRegular';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.83);
  margin: 27px 0 54px;
}

.post_title_and_desc .blog_post_text img {
  width: 50%;
  float: left;
  margin: 30px 30px 30px 0;
}

.sub_title {
  font-family: 'latoRegular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: 1.9px;
  text-align: left;
  color: #000000;
  border-bottom: 1px solid #e54949;
  display: inline-block;
  padding-bottom: 10px;
}

.leave_comment form textarea {
  width: 98%;
  min-height: 91px;
  opacity: 0.5;
  border: solid 1px #000000;
  background-color: #ffffff;
  margin: 23px 0;
}

.leave_comment form input {
  width: 90%;
  height: 34px;
  opacity: 0.5;
  border: solid 1px #000000;
  background-color: #ffffff;
  border-radius: unset;
  margin-bottom: 30px;

}

.leave_comment form label {
  height: 14px;
  font-family: 'latoRegular';
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 1.5px;
  text-align: left;
  color: #000000;
  margin-bottom: 17px;
}

.leave_comment form button {
  width: 202px;
  height: 44px;
  border-radius: 10px;
  box-shadow: 0px 1px 9.7px 0.3px rgba(1, 2, 3, 0.11);
  background-color: #3788c6;
  border: unset;
  color: white;
  font-family: 'latoRegular';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-bottom: 60px;
}

.main_comments h4.sub_title {
  margin-bottom: 46px;
}

.main_comments ul {
  display: flex;
  margin-bottom: 40px;
}

.main_comments ul li img {
  width: 52px;
  max-width: 52px;
  height: 51px !important;
  object-fit: cover;
  object-position: left;
  margin-right: 27px;
}

.main_comments ul li .user_name_and_comment h4 {
  display: flex;
  justify-content: space-between;
  font-family: 'latoRegular';
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: 1.8px;
  color: #000000;
}

.main_comments ul li .user_name_and_comment h4 span {
  display: flex;
  justify-content: space-between;
  font-family: 'OpenSans_Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: 1.8px;
  color: #000000;
  margin-bottom: 13px;
}

.main_comments ul li .comment {
  border-radius: 10px;
  background-color: #dfdfdf;
  padding: 18px 51px 17px 24px;
}

.main_comments ul li .comment p {
  font-family: 'latoRegular';
  font-size: 19px;
  color: rgba(0, 0, 0, 0.83);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 1.5px;
  text-align: left;
}

.main_comments .show_more {
  font-family: 'latoSemiBold';
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.6px;
  color: #000000;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 60px;
}

.related_articles h4 {
  margin-bottom: 22px;
}

.related_articles .article_title h3 {
  font-family: 'latoSemiBold';
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 1.4px;
  text-align: left;
  color: #000000;
  margin-top: 18px;
  margin-bottom: 32px;
}

.related_articles .article_pic {
  width: 100%;
  height: 62%;
  object-fit: cover;
}

.check_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 26px;
  font-family: 'latoRegular';
  font-size: 19.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #565757;
}

.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: solid 1px #666968;
  background-color: #fff;
}

.check_container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check_container input:checked ~ .checkmark:after {
  display: block;
}

.check_container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content {
  width: 434px;
  height: auto;
  box-shadow: 0 2px 17px 3px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border-radius: unset;
}

.logo_and_close h5 {
  font-family: 'latoBlack';
  font-size: 29.5px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2.4px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 48px 0;
}

.logo_and_close button span {
  font-family: 'latoLight';
  font-size: 56px;
  padding: 0 15px 0 0;
}

.modal-body form .form_group input {
  height: 47px;
  border: solid 1px #959595;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto 24px;
}

.modal-body form .form_group input::-webkit-input-placeholder {
  font-family: 'latoRegular';
  padding: 0 30px;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #a7a5a5;
}

.modal-body form button.login {
  width: 100%;
  height: 47px;
  border: solid 1px #959595;
  background-color: #3788c6;
  color: white;
  font-family: 'latoRegular';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 25px;
  border-radius: 0;
}

.forgot_pass {
  font-family: 'latoRegular';
  font-size: 14.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #7d7c7c;
  display: block;
  text-align: right;
}

.have_account a {
  font-family: 'latoRegular';
  font-size: 18.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #414242;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-bottom: 47px;
}

.have_account button {
  font-family: 'latoRegular';
  font-size: 17.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #414242;
  height: 60px;
  border-radius: 10px;
  border: solid 1px #004cb3;
  background-color: unset;
  display: block;
  margin: 0 auto;
  width: 152px;
}

.forgot_pass {
  font-family: 'latoRegular';
  font-size: 14.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: right;
  margin-bottom: 50px;
  color: #7d7c7c;
}

.modal-body {
  padding: 0 40px 51px;
}

.get_in_touch {
  width: 75%;
  height: 560px;
  margin: 0 auto;
  border: solid 1px #959595;
  background-color: #ffffff;
}

.get_in_touch > .row {
  display: flex;
  align-items: center;
  height: 100%;
}

.contact_form {
  position: relative;
  margin-left: -130px;
}

.contact_form > img {
  width: 100%;
  height: 468px !important;
}

.contact_form .contact_info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact_form .contact_info h3 {
  font-family: "latoBold";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #fffefe;
  text-transform: uppercase;
  margin-bottom: 102px;
}

.contact_form .contact_info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.contact_form .contact_info ul li p {
  color: white;
  font-family: 'latoRegular';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.4px;
  text-align: left;
}

.contact_form .contact_info ul li img {
  margin-right: 25px;
}

.get_touch_form h3 {
  font-family: 'latoBold';
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.get_touch_form form input, textarea {
  width: 89%;
  height: 47px;
  border: solid 1px #959595;
  background-color: #ffffff;
  padding: 0 18px;
}

.get_touch_form form textarea {
  min-height: 118px;
  font-family: 'latoRegular';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #b0adad;
  padding: 18px;
}

.get_touch_form form button {
  width: 111px;
  height: 31px;
  margin: 0 auto;
  background-color: #3788c6;
  font-family: "latoRegular";
  border: unset;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
  display: block;
  color: #ffffff;
  margin-top: 34px;
}

.get_touch_form form input::-webkit-input-placeholder {
  font-family: 'latoRegular';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #b0adad;
}

.top_news .sidebar {
  height: 560px;
  overflow: auto;
}

.error {
  color: red;
}

.view-icons-block a:hover {
  text-decoration: none;
  transition: 1000ms;
}

.news-block .img-block img {
  width: 60%;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
}

label#mat-form-field-label-3, label#mat-form-field-label-1, label#mat-form-field-label-5 {
  padding-left: 20px;
}


.sub_headline {
  border-left: 2px solid #e14040;
  padding: 0 0 0 20px;
  margin: 0 0 50px 0;
}

@media only screen and (max-width: 1600px) {
  body {
    font-size: 10px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 1440px) {
  .title.slider {
    font-size: 1.2em;
  }

  .text.slider {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1180px) {
  body {
    font-size: 8px;
    letter-spacing: 1px;
  }

  .carousel-caption {
    padding: 10px;
  }

  .filter .menu li {
    width: 80px;
    margin: 10px;
  }

  .news-block .text-block p {
    font-size: 1.2em;
  }

  .view-icons-block {
    width: 96%;
  }

  .main .col-md-4, .col-md-8 {
    padding: 15px !important;
  }

  .sidebar {
    padding: 30px 15px 0;
  }

  .content {
    width: 96%;
    margin: 0 auto;
  }

  .switch-label {
    font-size: 16px;
  }

  .single_blog_post .post_title_and_desc h3 {
    font-size: 20px;
  }

  .connect-block .img-block img {
    height: auto !important;
    margin-bottom: 30px;
  }
  .post_title_and_desc .blog_post_text, .main_comments ul li .comment p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 960px) {

  .get_in_touch {
    width: 100%;
    height: auto;
  }

  .get_touch_form form {
    text-align: center;
    padding: 20px 0;
  }
  .contact_form {
    margin-left: 0;
  }

  .contact_form > img {
    height: 300px !important;
  }

  .get_touch_form {
    padding-top: 100px;
  }
  .contact_form .contact_info h3 {
    margin-bottom: 50px;
  }

  body {
    font-size: 7px;
    letter-spacing: 1px;
  }

  .menu .post, .menu .login {
    padding: 5px 20px;
  }

  .view-icons-block span {
    font-size: .6em;
  }

  .top-news .item {
    flex-direction: column;
  }

  .top-news .item .img-block {
    width: 100%;
  }

  .top-news .item .text-block {
    width: 100%;
  }

  .sidebar {
    padding: 40px 20px 0;
  }

}

@media only screen and (max-width: 768px) {
  body {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .menu ul {
    top: 68px;
    z-index: 99999;
    right: 0;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2.5;
  }

  ul.toggle {
    display: none;
  }

  .navbar .menu ul li {

  }

  .navbar .menu div {
    display: flex;
    justify-content: flex-end;
  }

  .burger {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .post_title_and_desc .blog_post_text img {
    width: 100%;
  }

  .main_comments ul {
    flex-direction: column;
  }

  .main_comments ul li .comment {
    padding: 15px;
  }

  .sidebar {
    padding: 40px 20px 0;
    margin: 20px 0;
  }

  .top-news .item {
    margin-bottom: 30px;
  }

  .main .col-md-4, .col-md-8 {
    padding: 15px !important;
  }

  .single_blog_post .post_title_and_desc h3 {
    font-size: 18px;
  }

  header {
    margin-bottom: 40px;
  }

  .view-icons-block {
    width: 96%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .view-icons-block span {
    font-size: 18px;
  }

  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 46%;
  }
}

//Owl
.owl {
  &-prev, &-next {
    position: absolute !important;
    top: 40%;
    background: unset !important;
    color: rgba(0, 0, 0, 0.3);
    font-size: 100px !important;
    background: unset;
    transform: translate(0, -50%);

    i {
      color: rgba(203, 203, 203, 0.3);
    }

    &:hover {
      i {
        color: rgba(203, 203, 203, 0.7);
        transition: 800ms;
      }
    }
  }

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }
}
