.add_new {
  width: 113px;
  height: 33px;
  background-color: #3788c6;
  border: none;
  font-family: 'Lato-Regular';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3788c6;
}

.post_or_cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .blue {
    background-color: #3788c6;
  }

  .blue {
    display: inline-block;
    height: 100%;
    line-height: unset;
    padding: 7px;
  }

  button.red {
    background-color: #e14040;
    border: none;
    color: white;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 113px;
    height: 33px;
  }
}

p-dataTable {
  word-break: break-all;

  input {
    width: 100%;
    height: 100%;
    padding: 4px;
  }
}

.edit_or_delete {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 30px;
  }

  .edit {
    background: unset;
    border: unset;

    button {
      border: unset;
      background: unset;
    }
  }

  .delete {
    margin-left: 20px;

    button {
      border: unset;
      background: unset;
    }
  }
}

.post_box_cont {
  padding-top: 180px;
  padding-bottom: 50px;

  .posts_box {
    background: white;
  }
}

.no-padding {
  padding: 0;
}

.posts_table th.mat-header-cell.ng-star-inserted {
  border: 1px solid black;
  font-size: 15px;
  font-family: 'Lato-Black';
  padding: 0 20px;
}

.posts_table td.mat-cell.ng-star-inserted {
  border: 1px solid black;
  font-size: 15px;
  font-family: 'Lato-Black';
  padding: 0 20px;
}

.posts_box .sub_headline, .posts_box .my_posts {
  width: 80%;
  margin: 0 auto;
}