<app-header></app-header>
<div class="content">
    <div class="post_content">
        <div class="row main">
            <div class="col-md-12">
                <div class="profile_container">
                    <div class="right_side">
                        <div class="posts_box">
                            <div class="sub_headline">
                                <h2> Posts</h2>
                                <h3>All your posts</h3>
                            </div>
                            <div class="text_desc">
                                <ul>
                                    <li>
                                        <p>Please post any links (videos links, news link and social media links)
                                            related to politics, Business, Cinema, Music and any other general news in
                                            new stories section</p>
                                    </li>
                                    <li>
                                        <p>
                                            Any other videos other than politics, Business, Cinema, Music post in Videos
                                            section
                                        </p>
                                    </li>
                                    <li>
                                        <p>Post any pictures in camera pictures section (funny pictures, jokes, links or
                                            videos from social media)</p>
                                    </li>
                                    <li>
                                        <p>Post any Start up news links and videos in Jump start section</p>
                                    </li>
                                    <li>
                                        <p>Post any deals in fantastic bargain section</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="my_posts">
                                <h3>My posts</h3>
                                <div class="posts_table">
                                    <p-dataTable [immutable]="false" [value]="data" [editable]="true">
                                        <p-column field="date" header="Date">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <div *ngIf="!row.isEditable">{{row.date}}</div>
                                                <div *ngIf="row.isEditable">
                                                    <input type="text" [(ngModel)]="row.date">
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="link" header="Link">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <div *ngIf="!row.isEditable">{{row.link}}</div>
                                                <div *ngIf="row.isEditable">
                                                    <input type="text" [(ngModel)]="row.link">
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="section" header="Section">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <div *ngIf="!row.isEditable">{{row.section}}</div>
                                                <div *ngIf="row.isEditable">
                                                    <input type="text" [(ngModel)]="row.section">
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="edit_post" header="Edit Post">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <div *ngIf="!row.isEditable">{{row.edit_post}}</div>
                                                <div *ngIf="row.isEditable">
                                                    <input type="text" [(ngModel)]="row.edit_post">
                                                </div>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="" header="" [style]="{'text-align':'center'}">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <div class="edit_or_delete">
                                                    <div class="edit">
                                                        <button (click)="editRow(row)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="512px"
                                                                 viewBox="0 -1 401.52289 401"
                                                                 width="512px">
                                                                <g>
                                                                    <path d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0"
                                                                          data-original="#000000" class="active-path"
                                                                          data-old_color="#68a5d4"
                                                                          fill="#68a5d4"/>
                                                                    <path d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0"
                                                                          data-original="#000000" class="active-path"
                                                                          data-old_color="#68a5d4"
                                                                          fill="#68a5d4"/>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="delete">
                                                        <button (click)="delete(row)">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 version="1.1" id="Capa_1" x="0px" y="0px" width="512px"
                                                                 height="512px"
                                                                 viewBox="0 0 357 357"
                                                                 style="enable-background:new 0 0 357 357;"
                                                                 xml:space="preserve"><g><g>
	<g id="clear">
		<polygon
                points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3     214.2,178.5   "
                data-original="#000000" class="active-path" data-old_color="#fa6060" fill="#fa6060"/>
	</g>
</g></g> </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="" header="" [style]="{'text-align':'center'}">
                                            <ng-template let-row="rowData" pTemplate="body">
                                                <button (click)="save(row)">Save</button>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                    <div class="post_or_cancel">
                                        <button (click)="getData()" class="red">Load Data</button>
                                        <button (click)="addNew()" class="add_new">Add New</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
