<app-header></app-header>
<div class="content">
    <div class="main row no-gutters">
        <section class="section_carousel" style="padding-right: 37px">
            <div class="carusel-block" id="home_carousel">
                <app-owl-carousel [posts]="posts"></app-owl-carousel>
                <div class="img-block">
                    <div class="slider_bottom_icons">
                        <app-status-bar></app-status-bar>
                    </div>
                </div>
            </div>
            <div class="news-block carusel-block" *ngIf="posts">
                <div class="item">

                    <div class="content_block">
                        <div class="blocks_filter">
                            <div class="text-block">
                                <div class="description">
                                    <h5></h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="filters">
                                <div class="filter">
                                    <div class="media_filter_btn">
                                        <p (click)="toggleShow()">Filters</p>

                                        <span>filters:</span>
                                        <div class="filter_item" *ngIf="isShown" #toggleButton
                                             (mouseleave)="hideDiv()">
                                            <ul class="menu">
                                                <li [class.filterHighlight]="selectedFilter.vote === 'All'">
                                                    <button (click)="filterByVotes('All')">
                                                        All
                                                    </button>
                                                </li>
                                                <li [class.filterHighlight]="selectedFilter.vote === 'Inspiring'">
                                                    <button
                                                            (click)="filterByVotes('Inspiring')">Inspiring
                                                    </button>
                                                </li>
                                                <li [class.filterHighlight]="selectedFilter.vote === 'Lovethehuman'">
                                                    <button
                                                            (click)="filterByVotes('Lovethehuman')">Lovethehuman
                                                    </button>
                                                </li>
                                            </ul>
                                            <div class="drop__down">
                                                <select (change)="filterByType($event)">
                                                    <option></option>
                                                    <option [selected]="selectedFilter.type==='New'">New</option>
                                                    <option [selected]="selectedFilter.type==='Score'">Score</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="all">
                            <div class="loop_items item posts_items"
                                 infiniteScroll
                                 [infiniteScrollDistance]="2"
                                 [infiniteScrollThrottle]="50"
                                 (scrolled)="onIntersection($event, ind)"
                                 *ngFor="let post of filteredPosts.news| searchNews: searchTerm;let ind = index">
                                <div class="post_wrapper">
                                    <div class="user_posts">
                                        <div class="userName">
                                            <div>
                                                <h3 *ngIf="post.creator">
                                                    <span>Posted by</span>
                                                    {{post.creator.name}}</h3>
                                                <p class="updateDate"
                                                   [matTooltip]="getDateFormatted(post.createdAt)">{{getDateFormatted(post.createdAt, false)}}</p>
                                            </div>
                                            <app-story-options [single]="post"></app-story-options>
                                        </div>
                                    </div>
                                    <div class="short_desc">
                                        <!--                                <a href="{{post.link}}">{{post.link}}</a>-->
                                        <!--                            <h6>{{post.description|stripTags}}</h6>-->
                                    </div>
                                    <div class="img-block">
                                        <a href="{{post.link}}" (click)="incrementViews(post)" target="_blank">
                                            <img src="{{post.extractedImage}}" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                    <div class="text-block">
                                        <a href="{{post.link}}" class="text_block_link" target="_blank"
                                           (click)="incrementViews(post)">
                                            <h5 class="news_link">{{getLinkSource(post.link)}}</h5>
                                            <h3 class="news_title">{{post.extractedTitle}}</h3>
                                            <p class="news_desc">{{post.extractedDescription}}</p>
                                        </a>
                                    </div>
                                </div>

                                <app-status-bar [single]="post"></app-status-bar>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <aside class="section_right" style="padding-left: 37px">
            <app-aside></app-aside>
        </aside>
    </div>
</div>
<app-footer></app-footer>
