<app-header></app-header>
<div class="content">
    <div class="main row no-gutters">
        <section class="col-md-8 col-sm-12 order-md-1 order-sm-2 order-xs-2" style="padding-right: 37px">
            <div class="carusel-block" id="home_carousel">

                <app-owl-carousel [posts]="posts"></app-owl-carousel>
                <div class="img-block">
                    <div class="slider_bottom_icons">
                        <app-status-bar></app-status-bar>
                    </div>
                </div>
            </div>
            <div class="news-block carusel-block">
                <div class="item">

                    <div class="content_block">
                        <div class="blocks_filter">
                            <div class="text-block">
                                <div class="description">
                                    <h5 class="title">
                                        <!--                                        POLITICS, BUSINESS-->
                                    </h5>
                                    <p class="text">

                                    </p>
                                </div>

                            </div>fi
                            <div class="filters">
                                <div class="filter">
                                    <span>filters</span>
                                    <ul class="menu">
                                        <!--<li class="blue_lg" (click)="filterByVotes('like')">-->
                                        <!--<button type="button">New</button>-->
                                        <!--</li>-->
                                        <!--<li class="orange_lg">-->
                                        <!--<button>Score</button>-->
                                        <!--</li>-->
                                        <li [class.filterHighlight]="selectedFilter.vote === 'All'"
                                            (click)="filterByVotes('All')">
                                            <button>All</button>
                                        </li>
                                        <li [class.filterHighlight]="selectedFilter.vote === 'Protect'"
                                            (click)="filterByVotes('Protect')">
                                            <button type="button">
                                                Protect
                                            </button>
                                        </li>
                                        <li [class.filterHighlight]="selectedFilter.vote === 'Interesting'"
                                            (click)="filterByVotes('Interesting')">
                                            <button type="button"
                                            >Protest
                                            </button>
                                        </li>
                                        <!--<li class="gray_lg">-->
                                        <!--<button type="button">Questions</button>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                                <div class="drop__down">
                                    <select (change)="filterByType($event)">
                                        <option></option>
                                        <option [selected]="selectedFilter.type==='New'">New</option>
                                        <option [selected]="selectedFilter.type==='Score'">Score</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="all">
                            <div class="loop_items item posts_items"
                                 infiniteScroll
                                 [infiniteScrollDistance]="2"
                                 [infiniteScrollThrottle]="50"
                                 (scrolled)="onIntersection($event, ind)"
                                 *ngFor="let single of filteredPosts.news| searchNews: searchTerm;let ind = index">
                                <div class="post_wrapper">
                                    <div class="user_posts">
                                        <div class="userName">
                                            <div>
                                                <h3 *ngIf="single.creator"><span>Posted by</span>{{single.creator.name}}
                                                </h3>
                                                <p class="updateDate"
                                                   [matTooltip]="single.createdAt|formattedDate">{{single.createdAt|formattedDate:false}}</p>
                                            </div>
                                            <app-story-options [single]="single"></app-story-options>
                                        </div>
                                    </div>
                                    <div class="short_desc">
                                        <!--<a href="{{single.link}}">{{single.link}}</a>-->
                                        <!--                                <small>{{single.description|stripTags}}</small>-->
                                    </div>

                                    <div class="img-block">
                                        <a href="{{single.link}}" (click)="incrementViews(single)" target="_blank">
                                            <img src="{{single.extractedImage}}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="text-block">
                                        <a href="{{single.link}}" class="text_block_link" target="_blank"
                                           (click)="incrementViews(single)">
                                            <h5 class="news_link">{{single.link|getUrlBase}}</h5>
                                            <h3 class="news_title">{{single.extractedTitle}}</h3>
                                            <p class="news_desc">{{single.extractedDescription}}</p>
                                        </a>
                                    </div>
                                </div>
                                <app-status-bar [single]="single"></app-status-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-block">
                <ul>
                    <li *ngFor="let paginateSingle of pages">
                        <a data-id="{{paginateSingle}}" (click)="nextPage($event)">{{ paginateSingle }}</a>
                    </li>
                </ul>
            </div>
        </section>
        <app-aside class="col-md-4 col-sm-12 order-md-2 order-sm-1 order-xs-1" style="padding-left: 37px"></app-aside>
    </div>
</div>
<app-footer></app-footer>
